<div class="page">
  <form [formGroup]="formulario" (ngSubmit)="addUsuario()">
    <div class="double-input">
    <div class="form-group">  
      <div class="input-wrapper">
        <input type="text" id="real_name" formControlName="real_name"  [ngClass]="{ errorInput:(formulario.controls['real_name'].invalid && formulario.controls['real_name'].touched)}"/>
        <label [ngClass]="{ filled: formulario.get('real_name')?.value, errorLabel: formulario.controls['real_name'].invalid && formulario.controls['real_name'].touched }">
            @if (formulario.controls['real_name'].invalid && formulario.controls['real_name'].touched) {
              <i class="bi bi-exclamation-circle"></i> 
            }
            Nombre </label>
      </div>
      @if (formulario.controls['real_name'].getError('minlength') && formulario.controls['real_name'].touched) {
        <span class="error-message">Mínimo 3 caracteres</span>
      }
    </div>

    <div class="form-group">
      <div class="input-wrapper">
        <input type="text" id="last_name" formControlName="last_name" />
        <label [ngClass]="{ filled: formulario.get('last_name')?.value, errorLabel: formulario.controls['last_name'].invalid && formulario.controls['last_name'].touched }">
            @if (formulario.controls['last_name'].invalid && formulario.controls['last_name'].touched) {
              <i class="bi bi-exclamation-circle"></i> 
            }
            Apellido </label>
      </div>
      @if (formulario.controls['last_name'].getError('minlength') && formulario.controls['last_name'].touched) {
        <span class="error-message">Mínimo 3 caracteres</span>
      }
    </div>
  </div>

    <div class="form-group">
      <div class="input-wrapper">
        <input type="text" id="name_user" formControlName="name_user" placeholder=" " />
        <label [ngClass]="{
          filled: formulario.get('name_user')?.value,
          errorLabel: formulario.controls['name_user'].invalid && formulario.controls['name_user'].touched }">
            @if (formulario.controls['name_user'].invalid && formulario.controls['name_user'].touched) {
              <i class="bi bi-exclamation-circle"></i> 
            }
            Usuario </label>
      </div>
      @if (formulario.controls['name_user'].getError('minlength') && formulario.controls['name_user'].touched) {
        <span class="error-message">Mínimo 3 caracteres</span>
      }
      
    </div>
    
    <div class="form-group">
      <div class="input-wrapper">
        <input type="number" id="dni" formControlName="dni" placeholder=" " />
        <label [ngClass]="{
          filled: formulario.get('dni')?.value,
          errorLabel: formulario.controls['dni'].invalid && formulario.controls['dni'].touched }">
            @if (formulario.controls['dni'].invalid && formulario.controls['dni'].touched) {
              <i class="bi bi-exclamation-circle"></i> 
            }
            Dni </label>
      </div>
      @if (formulario.controls['dni'].getError('minlength') && formulario.controls['dni'].touched) {
        <span class="error-message">Mínimo 7 caracteres</span>
      }
      @if (formulario.controls['dni'].getError('maxlength') && formulario.controls['dni'].touched) {
        <span class="error-message">Mínimo 8 caracteres</span>
      }
    </div>
    <div class="double-input">
    <div class="form-group">
      <div class="input-wrapper">
        <input
          #passwordInput1
          [type]="showPassword1 ? 'text' : 'password'"
          id="hashed_password"
          formControlName="hashed_password"
          placeholder=" "
          (input)="validatePassword()"
        />
        <label [ngClass]="{
          filled: formulario.get('hashed_password')?.value,
          errorLabel: formulario.controls['hashed_password'].invalid && formulario.controls['hashed_password'].touched }">
            @if (formulario.controls['hashed_password'].invalid && formulario.controls['hashed_password'].touched) {
              <i class="bi bi-exclamation-circle"></i> 
            }
            Contraseña </label>
        <button type="button" class="toggle-btn" (click)="togglePasswordVisibility(passwordInput1)">
          <i [class]="showPassword1 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      @if (formulario.controls['hashed_password'].touched && formulario.controls['hashed_password'].getError('minlength')) {
        <span class="error-message">Mínimo 6 caracteres</span>
      }
      @if (formulario.controls['hashed_password'].touched && formulario.controls['hashed_password'].getError('passwordStrength')) {
        <span class="error-message">La contraseña debe contener al menos una mayúscula, una minúscula y un número</span>
      }
    </div>

    <div class="form-group">
      <div class="input-wrapper">
        <input
          #passwordInput2
          [type]="showPassword2 ? 'text' : 'password'"
          id="confirm_password"
          formControlName="confirm_password"
          placeholder=" "
          [ngClass]="{ errorInput: formulario.controls['confirm_password'].invalid && formulario.controls['confirm_password'].touched || (formulario.hasError('matchPasswords') && formulario.controls['confirm_password'].touched)}"
        />
        <label [ngClass]="{
          filled: formulario.get('confirm_password')?.value,
          errorLabel: (formulario.controls['confirm_password'].invalid && formulario.controls['confirm_password'].touched) || (formulario.hasError('matchPasswords') && formulario.controls['confirm_password'].touched)}">
            @if (formulario.controls['confirm_password'].invalid && formulario.controls['confirm_password'].touched || (formulario.hasError('matchPasswords') && formulario.controls['confirm_password'].touched)) {
              <i class="bi bi-exclamation-circle"></i> 
            }
            Repetir contraseña </label>
        <button type="button" class="toggle-btn" (click)="togglePasswordVisibilityRepet(passwordInput2)">
          <i [class]="showPassword2 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
        </button>
      </div>
      @if (formulario.controls['confirm_password'].touched && formulario.hasError('matchPasswords')) {
        <span class="error-message">Las contraseñas no coinciden</span>
      }
    </div>
  </div>
    <button type="submit" class="submit-button" [disabled]="formulario.invalid">Registrarse</button>
  </form>
</div>
