<!-- LISTO -->
<app-navbar-admin></app-navbar-admin>
<div class="page">
  <button class="go-back" (click)="goBack()" ><i class="bi bi-caret-left"></i>Volver</button>
  @if (transactions.length ===0) {
      <h2>No posee transacciones</h2>
  }@else {
      <div class="transactions">
      <h2>Movimientos</h2>
      <div class="transactions-page">
        <div class="transactions-container">
          @for(transaction of paginatedTransactions; track $index){
            <app-transaction [transaction]="transaction" [selectedAccountId]="id"></app-transaction>
          }
        </div>

        <div class="pagination-wrapper">
          <div class="pagination-controls">
            @if(currentPage > 1){
              <button class="pagination-button"(click)="changePage(currentPage - 1)"> ⬅ Anterior</button>
            }

            <div class="page-buttons">
              <button class="pagination-button" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i + 1 === currentPage" (click)="changePage(i + 1)">{{ i + 1 }}</button>
            </div>

            @if(currentPage < totalPages){
              <button class="pagination-button" (click)="changePage(currentPage + 1)">Siguiente ➡</button>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
