<app-navbar-admin></app-navbar-admin>
<button class="go-back" (click)="goBack()" >Volver</button>

@if (transactions.length ===0) {
    <h2>No posee transferencias</h2>
}@else {
    <div class="transactions">
    <h2 class="section-title">Movimientos</h2>
    <div class="transactions-page">
      <!-- Contenedor de las transacciones -->
      <div class="transactions-container">
        <div *ngFor="let transaction of paginatedTransactions">
          @if (transaction.transaction_type === 'transfer') {
            <app-transaction [transaction]="transaction"></app-transaction>
          }
        </div>
      </div>

      <!-- Controles de paginación -->
      <div class="pagination-wrapper">
        <div class="pagination-controls">
          <!-- Botón "Anterior" -->
          <button
            class="pagination-button"
            *ngIf="currentPage > 1"
            (click)="changePage(currentPage - 1)">
            ⬅ Anterior
          </button>

          <!-- Botones numerados -->
          <div class="page-buttons">
            <button
              class="pagination-button"
              *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="i + 1 === currentPage"
              (click)="changePage(i + 1)">
              {{ i + 1 }}
            </button>
          </div>

          <!-- Botón "Siguiente" -->
          <button
            class="pagination-button"
            *ngIf="currentPage < totalPages"
            (click)="changePage(currentPage + 1)">
            Siguiente ➡
          </button>
        </div>
      </div>
    </div>
  </div>
}
