<app-navbar></app-navbar>

<div *ngIf="loans.length === 0">
  <p>No hay préstamos solicitados por el usuario</p>
</div>

@if (loans.length > 0) {
<div class="tableDiv">
  <h2>Préstamos activos</h2>
    <table>
      <thead>
      <tr>
        <th>Número de cuenta</th>
        <th>Cantidad solicitada</th>
        <th>Cantidad a devolver</th>
        <th>Cantidad pagada</th>
        <th>Cantidad a pagar</th>
        <th>Fecha de expiración</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (loan of loans; track $index) {
        @if (loan.paid != loan.return_amount) {  
          <tr >
            <td>{{ loan.account_id }}</td>
            <td>${{ loan.amount }}</td>
            <td>${{ loan.return_amount }}</td>
            <td>${{ loan.paid }}</td>
            <td>${{ loan.return_amount - loan.paid }}</td>
            <td>{{ loan.expiration_date | date:'dd/MM/yyyy':'es-AR' }}</td>
            <td><button [routerLink]="['/pay-loan', loan.id]">Pagar préstamo</button></td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
}

@if (expiredLoans.length > 0) {
<div class="tableDiv">
  <h2>Préstamos finalizado</h2>
    <table>
      <thead>
      <tr>
        <th class="thExpired">Número de cuenta</th>
        <th class="thExpired">Cantidad solicitada</th>
        <th class="thExpired">Cantidad devuelta</th>
        <th class="thExpired">Fecha de solicitud</th>
        <th class="thExpired">Fecha de expiración</th>
      </tr>
    </thead>
    <tbody>
      @for (loan of expiredLoans; track $index) {
          <tr >
            <td>{{ loan.account_id }}</td>
            <td>${{ loan.amount }}</td>
            <td>${{ loan.return_amount }}</td>
            <td>{{ loan.request_date | date:'dd/MM/yyyy':'es-AR' }}</td>
            <td>{{ loan.expiration_date | date:'dd/MM/yyyy':'es-AR' }}</td>
          </tr>
      }
    </tbody>
  </table>
</div>
}