main {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  font-family: var(--font-body);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.section-title {
  font-family: var(--font-title);
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 5px;
}

.sectionA {
  width: 70%;
}

.accounts-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
}

.transactions-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.transactions-container {
  flex-grow: 1;
}

.sectionB {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.card {
  background-image: linear-gradient(to right, #111, #555);
  width: 300px;
  border-radius: 12px;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.master {
  display: flex;
}

.master .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.master .master-red {
  background-color: #eb001b;
}

.master .master-yellow {
  margin-left: -10px;
  background-color: rgba(255, 209, 0, 0.7);
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #e0e0e0;
  margin-bottom: 10px;
}

.card-number {
  letter-spacing: 2px;
}

.expiry-date {
  margin-left: 5px;
}

.dolar {
  background-color: var(--extra-light-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dolar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: var(--font-title);
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 5px;
}

.fixedTerms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 25%;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 8px 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  font-weight: bold;
}


.aviso {
  font-family: var(--font-body);
  color: var(--gray-3);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--extra-light-color);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}