main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  gap: 20px;
}

h2 {
  /* font-size: 1.5rem; */
  border-bottom: 2px solid var(--secondary-color);
}

.accounts-div, .cardsFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.transactions-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transactions-container {
  flex-grow: 1;
  min-height: 315px;
}

.card {
  width: 300px;
  border-radius: var(--border-radius);
  padding: 20px;
  /* color: var(--white); */
  box-shadow: 0 4px 8px var(--box-shadow-color);
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 200px 100px;
  gap: 10px;
  cursor: pointer;
}

.credit-card .card {
  background-image: linear-gradient(to left,var(--cancel-button) 5%, var(--gray-4) 95%);
}

.debit-card .card {
  background-image: linear-gradient(to left,var(--secondary-color) 5%,var(--gray-4) 95%);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  grid-column: 1 / -1;
}

.master {
  display: flex;
}

.master .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.master .master-red {
  background-color: #eb001b;
}

.master .master-yellow {
  margin-left: -10px;
  background-color: #ffd100b3;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  /* color: var(--white); */
  margin-bottom: 10px;
}

.card-number {
  letter-spacing: 2px;
  /* color: var(--white); */

}

.expiry-date {
  margin-left: 5px;
  /* color: var(--white); */

}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 8px 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: var(--white);
  color: #007bff;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #007bff;
  color: var(--white);
}

.pagination-button.active {
  background-color: #007bff;
  color: var(--white);
  border-color: #007bff;
  font-weight: bold;
}

.aviso {
  color: var(--gray-3);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--extra-light-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px var(--box-shadow-color);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.tipo {
  grid-column: 1 / -1;
  display: grid;
  align-items: end;
  font-size: 0.875rem;
  color: var(--white);
  text-transform: uppercase;
}

#accountSelect {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--white);
  outline: none;
}

/* Responsividad */
@media (max-width: 1024px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .accounts-div, .cardsFlex {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .card-header {
    font-size: 1rem;
  }

  .card-number {
    font-size: 0.85rem;
  }

  .pagination-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .aviso {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {

  .card-header {
    font-size: 0.9rem;
  }

  .card-details {
    font-size: 0.8em;
  }

  .pagination-wrapper {
    padding: 10px 0;
  }

  .aviso {
    font-size: 0.9rem;
    padding: 10px;
  }
}
