.app-card-account-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app-card-account-buttons {
  display: flex;
  gap: 8px; /* Espacio entre los botones */
}

button {
  background-color: #add8e6; /* Azul claro */
  color: #fff;
  padding: 8px 12px;
  font-family: var(--font-menu-form);
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #87ceeb; /* Un poco más oscuro al hacer hover */
}

button:active {
  background-color: #6bb4d6; /* Color aún más oscuro cuando se hace clic */
}
