.title {
  font-size: 24px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  margin-top: 60px; 
}

.accounts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.app-card-account-container {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0;
}

.app-card-account-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px; 
}

.view-button {
  padding: 10px 50px;
}

.deactivate-button {
  background-color: var(--cancel-button);
  padding: 10px 50px;
}

.deactivate-button:hover {
  background-color: var(--cancel-button-hover);
}

