<app-navbar-admin></app-navbar-admin>
<h2>Lista de Clientes</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Activo</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of clients; track $index) {
        <tr>
          <td>{{item.real_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.dni}}</td>
          <td>{{item.email}}</td>
          @if (item.is_Active === 'yes') {
            <td>Si</td>
          }@else {
            <td>No</td>
          }
          <td>
            <button class="details" [routerLink]="['/detail-user', item.id]">Ver detalles</button>
          </td>
        </tr>
    }
  </tbody>
</table>
