.profile-container {
  padding: 20px;
  background-color: var(--background-gray);
  font-family: var(--font-body);
}

.profile-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 30px 40px;
  box-shadow: 0px 4px 8px var(--box-shadow-color);
  max-width: 800px;
  margin: 30px auto;
  border-left: 8px solid var(--secondary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

tbody tr {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

td {
  color: var(--primary-color);
  padding: 10px 0;
  font-size: 0.95em;
}

td:first-child {
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--font-menu-form);
  width: 150px;
}

td:last-child {
  color: var(--primary-color);
  font-family: var(--font-body);
  width: calc(100% - 160px);
}

.button-container {
  text-align: center;
  margin-top: 30px;
}
