:root {
  --primary-color: #003559;
  --secondary-color: #0077b6;
  --accent-color: #00b4d8;
  --light-color: #90e0ef;
  --extra-light-color: #caf0f8;
  --white: #ffffff;
  --button-hover: #00b4d8;
  --gray: #adb5bd;

  --font-title: "Open Sans", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-buttons: "Poppins", sans-serif;
  --font-menu-form: "Lato", sans-serif;
}

.profile-container {
  padding: 20px;
  background-color: var(--extra-light-color);
  font-family: var(--font-body);
}

.profile-card {
  background-color: var(--white);
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 30px auto;
  border-left: 8px solid var(--secondary-color);
}

.profile-card h3 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-family: var(--font-title);
  font-size: 1.5em;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

tbody tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding: 10px 0;
}

td {
  color: var(--primary-color);
  padding: 10px 0;
  font-size: 0.95em;
}

td:first-child {
  font-weight: bold;
  color: var(--secondary-color);
  font-family: var(--font-menu-form);
  width: 150px;
}

td:last-child {
  color: var(--primary-color);
  font-family: var(--font-body);
  width: calc(100% - 160px);
}

.button-container {
  text-align: center;
  margin-top: 30px;
}

button {
  padding: 12px 24px;
  background-color: var(--secondary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-buttons);
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
}
