/* ! LISTO */
navbar-home-component header.scrolled {
  box-shadow: none;
}

body {
  background-color: var(--primary-color);
  color: var(--gray-4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px var(--box-shadow-color);
  padding: 2rem;
  width: 90%;
  max-width: 800px;
  line-height: 1.75;
  margin: 20px;
}

header h1 {
  font-size: 2.5rem;
}

.intro {
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray-1);
  margin-bottom: 1.5rem;
}

.legal-list {
  list-style-type: none;
  padding: 0;
}

.legal-list li {
  font-size: 1rem;
  color: var(--gray-3);
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  position: relative;
  text-align: justify;
}

.legal-list li::before {
  content: "•";
  color: var(--accent-color);
  position: absolute;
  left: 0;
  font-size: 1.2rem;
}

/* Responsividad */
@media (max-width: 1024px) {
  header h1 {
    font-size: 2rem;
  }

  .container {
    padding: 1.5rem;
  }

  .intro {
    font-size: 1.1rem;
  }

  .legal-list li {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {

  .container {
    padding: 1rem;
    margin: 10px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  .intro {
    font-size: 1rem;
  }

  .legal-list li {
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    padding: 0.8rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .intro {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .legal-list li {
    font-size: 0.85rem;
    padding-left: 1rem;
  }

  .legal-list li::before {
    font-size: 1rem;
  }
}
