header {
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

header.scrolled {
  background-color: var(--primary-color); 
  box-shadow: 0 4px 12px var(--box-shadow-color);
}

img {
  height: 60px;
  padding: 0 15px;
}

