/* ! LISTO */
.page {
  display: block;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 82px);
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 82.95px);
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 300px));
  gap: 5rem;
}

.dashboard-card {
  border-radius: var(--border-radius);
  padding: 3.5rem;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 1px var(--primary-color);
  display: block;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
  background-color: var(--extra-light-color);
}

.dashboard-card i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.dashboard-card h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.75rem;
}

.dashboard-card p {
  font-size: 1rem;
  color: var(--gray-3);
  line-height: 1.4;
}

button {
  margin: 20px;
}


@media (max-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 3rem;
    max-width: 700px;
  }

  .dashboard-card {
    padding: 18px;
  }

  .dashboard-card i {
    font-size: 2.5rem;
  }

  .dashboard-card h2 {
    font-size: 1.4rem;
  }

  .dashboard-card p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 100%;
  }

  .dashboard-card {
    padding: 16px;
  }

  .dashboard-card i {
    font-size: 2rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-description {
    font-size: 0.85rem;
  }
}

@media (max-width: 550px) {
  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    max-width: 100%;
  }

  .dashboard-card {
    padding: 12px;
    font-size: 0.9rem;
  }

  .dashboard-card i {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .dashboard-card h2 {
    font-size: 1.2rem;
  }

  .dashboard-card p {
    font-size: 0.8rem;
  }
}
