.dashboard-card {
  border-radius: var(--border-radius);
  padding: 3.5rem;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 1px var(--gray-2);
  display: block;
  margin-top: 25%;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 300px));
  gap: 5rem;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #1a237e;
}

.card-title {
  font-size: 1.5rem;
}

.card-description {
  font-size: 1rem;
  color: var(--gray-3);
  line-height: 1.4;
}

button {
  text-align: end;
  margin-top: 20px;
  margin-left: 5%;
}

@media (max-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .dashboard-card {
    margin-top: 20%;
    padding: 2rem;
  }

  .card-icon {
    font-size: 2.5rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-description {
    font-size: 0.9rem;
  }

  button {
    margin-left: 2%;
  }
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .dashboard-card {
    padding: 1rem;
    margin: 10% auto ;
    width: 80%;
  }

  .card-icon {
    font-size: 2rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    font-size: 0.85rem;
  }

  button {
    margin-left: 2%;
  }
}

@media (max-width: 550px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .dashboard-card {
    align-items: center;
    margin: 10% auto ;
    padding: 1rem;
    width: 80%;
  }

  .card-icon {
    font-size: 1.8rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.8rem;
  }

  button {
    margin-left: 2%;
  }
}
