.page {
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  border: none
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
}

input {
  width: 100%;
  padding: 8px 32px 8px 10px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: transparent;
  /* height: 36px; */
}

input:focus + label,
label.filled {
  top: -10px;
  left: 5px;
  font-size: 0.75rem;
  color: var(--accent-color);
}

input:not(:focus) + label {
  color: var(--gray-1);
}

.toggle-btn {
  position: absolute;
  right: 8px;
  top: 60%;
  transform: translateY(-50%);
  color: var(--gray-3);
  background: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.errorInput {
  border: 1px solid var(--cancel-button);
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

.errorLabel {
  color: var(--cancel-button) !important;
  top: -10px;
  left: 5px;
  font-size: 0.75rem;
}

.error {
  color: var(--cancel-button);
  font-size: 0.875rem;
  margin-top: -5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.error i {
  font-size: 1rem;
  color: var(--cancel-button);
}

.submit-button {
  width: 80%;
  padding: 8px 16px;
  background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
  transition: background 0.3s, transform 0.2s;
  margin-top: 8px;
  height: 36px;
}

.submit-button:hover {
  background: linear-gradient(135deg, var(--accent-color), var(--button-hover));
}

.submit-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

.submit-button:disabled {
  background: #ccc; 
  cursor: not-allowed; 
  box-shadow: none; 
}


@media (max-width: 768px) {
  .page {
    width: 100%;
  }
}