
<form [formGroup]="formulario" (ngSubmit)="admitUser()">
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div class="input-container">
    <input
      type="text"
      id="dni"
      formControlName="dni"
      [ngClass]="{
        errorInput:
          formulario.controls['dni'].getError('required') &&
          formulario.controls['dni'].touched
      }"
    />
    <label
      [ngClass]="{
        filled: formulario.get('dni')?.value,
        errorLabel:
          formulario.controls['dni'].getError('required') &&
          formulario.controls['dni'].touched
      }"
      ><span
        *ngIf="
          formulario.controls['dni'].touched &&
          !formulario.controls['dni'].value
        "
      >
      <i class="bi bi-exclamation-circle"></i> </span
      > DNI</label
    >
  </div>

  <div class="input-container">
    <input type="text" id="usuario" formControlName="name_user" [ngClass]="{
      errorInput:
        formulario.controls['name_user'].getError('required') &&
        formulario.controls['name_user'].touched
    }"/>
    <label  [ngClass]="{
      filled: formulario.get('name_user')?.value,
      errorLabel:
        formulario.controls['name_user'].getError('required') &&
        formulario.controls['name_user'].touched
    }"
    ><span
      *ngIf="
        formulario.controls['name_user'].touched &&
        !formulario.controls['name_user'].value
      "
    >
    <i class="bi bi-exclamation-circle"></i> </span
      > Usuario</label
    >
  </div>

  <div class="input-container">
    <input
      #passwordInput
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      formControlName="hashed_password"
      [ngClass]="{
        errorInput:
          formulario.controls['hashed_password'].getError('required') &&
          formulario.controls['hashed_password'].touched
      }"
    />
    <label  [ngClass]="{
      filled: formulario.get('hashed_password')?.value,
      errorLabel:
        formulario.controls['hashed_password'].getError('required') &&
        formulario.controls['hashed_password'].touched
    }"
    ><span
      *ngIf="
        formulario.controls['hashed_password'].touched &&
        !formulario.controls['hashed_password'].value
      "
    >
    <i class="bi bi-exclamation-circle"></i> </span
      > Contraseña</label
    >
    <span
      class="toggle-visibility"
      (click)="togglePasswordVisibility(passwordInput)"
    >
      <i *ngIf="showPassword; else eyeClosed" class="bi bi-eye"></i>
      <ng-template #eyeClosed>
        <i class="bi bi-eye-slash"></i>
      </ng-template>
    </span>
  </div>

  <button type="submit">Login</button>
  <!-- <a routerLink="#" class="forgot-password">Olvidaste tu contraseña?</a>  -->
</form> 
