<form [formGroup]="formularioContra" (ngSubmit)="updatePassword()">
    <div class="input-container">
      <label for="current_password">Contraseña actual</label>
      <input
        type="password"
        id="current_password"
        formControlName="current_password"
        placeholder=" "
      />
      @if (formularioContra.controls['current_password'].touched &&
      formularioContra.controls['current_password'].getError('required')) {
      <span> Campo requerido </span>
      }

      <div class="input-container">
        <label for="hashed_password">Nueva contraseña</label>
        <input
          type="password"
          id="hashed_password"
          formControlName="hashed_password"
          placeholder=" "
        />
        @if (formularioContra.controls['hashed_password'].touched &&
        formularioContra.controls['hashed_password'].getError('required')) {
        <span> Campo requerido </span>
        } @if (formularioContra.controls['hashed_password'].touched &&
        formularioContra.controls['hashed_password'].getError('minlength')) {
        <span> Minimo 6 caracteres </span>
        } @if (formularioContra.controls['hashed_password'].touched &&
        formularioContra.controls['hashed_password'].getError('passwordStrength'))
        {
        <span>
          La contraseña debe contener al menos una mayuscula y un numero
        </span>
        }
      </div>

      <div class="input-container">
        <label for="confirm_password">Repetir contraseña</label>
        <input
          type="password"
          id="confirm_password"
          formControlName="confirm_password"
          placeholder=" "
        />

        @if (formularioContra.controls['confirm_password'].touched &&
        formularioContra.controls['confirm_password'].getError('required')) {
        <span> Campo requerido </span>
        } @if (formularioContra.controls['confirm_password'].touched &&
        formularioContra.hasError('matchPasswords')) {
        <span> Las contraseñas no coinciden </span>
        }
      </div>

      <button type="submit">Actualizar</button>
    </div>
  </form>