form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    font-family: var(--font-menu-form);
  }
  
  form label {
    color: var(--primary-color);
    font-weight: 600;
  }
  
  form input {
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: 6px;
    transition: border-color 0.3s ease;
  }
  
  form input:focus {
    border-color: var(--secondary-color);
    outline: none;
  }
  
  span {
    color: red;
    font-size: 0.875em;
  }
  
  form button {
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 1.1em;
    font-family: var(--font-buttons);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  form button:hover {
    background-color: var(--button-hover);
    transform: scale(1.02);
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  .input-container input {
    padding: 12px;
    border: 1px solid var(--gray);
    border-radius: 6px;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .input-container label {
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .update-password-btn {
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 1.1em;
    font-family: var(--font-buttons);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
  }
  
  .update-password-btn:hover {
    background-color: var(--button-hover);
    transform: scale(1.02);
  }
  
  @media (max-width: 768px) {
    .account-page {
      width: 95%;
    }
  
    form {
      gap: 10px;
    }
  
    form button {
      font-size: 1em;
    }
  }
  
  span {
    color: red;
    font-size: 0.875em;
    padding: 2px 4px;
    display: inline-block;
    margin-top: 5px;
  }
  