.page {
  font-family: var(--font-body);
  /* background-color: var(--light-color); */
  color: var(--gray-4);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* height: 100vh; */
}

form {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-family: var(--font-title);
  color: var(--primary-color);
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--gray-3);
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--gray-2);
  border-radius: 5px;
  background-color: var(--extra-light-color);
  transition: all 0.3s ease;
}

input:focus {
  border-color: var(--secondary-color);
  background-color: var(--white);
}

span {
  font-size: 0.9rem;
  color: var(--cancel-button);
  display: block;
  margin-top: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-buttons);
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--button-hover);
}

button[type="submit"]:disabled {
  background-color: var(--gray-2);
  cursor: not-allowed;
}

.input-container input:invalid {
  border-color: var(--cancel-button);
}

.input-container input:valid {
  border-color: var(--secondary-color);
}

.form-message {
  font-size: 0.9rem;
  color: var(--gray-3);
}

.form-message span {
  font-weight: bold;
  color: var(--cancel-button);
}

@media screen and (max-width: 768px) {
  form {
    padding: 15px;
    width: 90%;
  }
}
