<app-navbar-admin></app-navbar-admin>
<div class="dashboard">
  <div class="dashboard-grid">
    <a [routerLink]="['/list-users']" class="dashboard-card">
      <i class="bi bi-person-vcard"></i>
      <h2>Clientes</h2>
      <p>Administrar cuentas y perfiles de clientes</p>
    </a>

    <a [routerLink]="['/admin-support']" class="dashboard-card">
      <i class="bi bi-question-square"></i>
      <h2>Soporte</h2>
      <p>Responde las solicitudes pendientes</p>
    </a>

    <a [routerLink]="['/list-rates']" class="dashboard-card">
      <i class="bi bi-currency-dollar"></i>
      <h2>Tarifas</h2>
      <p>Configurar tarifas y comisiones bancarias</p>
    </a>

    <a [routerLink]="['/list-admins']" class="dashboard-card">
      <i class="bi bi-people"></i>
      <h2>Administradores</h2>
      <p>Gestionar usuarios administradores del sistema</p>
    </a>
  </div>
</div>
