<app-navbar></app-navbar>
<form [formGroup]="formulario" (ngSubmit)="createFixedTerm()">
    <div>
      <label for="account_id">ID de Cuenta:</label>
      <input id="account_id" type="number" formControlName="account_id">
        @if(formulario.controls['account_id'].touched &&  formulario.controls['account_id'].getError('required')){
          <p>El ID de cuenta es obligatorio.</p>
        }
        <div>
          @if(formulario.controls['account_id'].touched &&  formulario.controls['account_id'].getError('min')){
            <p>El ID de cuenta debe ser mayor a 0.</p>
          }
        </div>
    </div>
  
    <div>
      <label for="invested_amount">Monto Invertido:</label>
      <input id="invested_amount" type="number" formControlName="invested_amount">
      @if(formulario.controls['invested_amount'].touched &&  formulario.controls['invested_amount'].getError('required')){
        <p>El monto invertido es obligatorio.</p>
      }
      <div>
        @if(formulario.controls['invested_amount'].touched &&  formulario.controls['invested_amount'].getError('min')){
          <p>El monto invertido debe ser mayor a 0.</p>
        }
      </div>
        
      
    </div>

  
    <div>
      <label for="start_date">Fecha de Inicio:</label>
      <input id="start_date" type="date" formControlName="start_date">
    </div>
  
    <div>
      <label for="expiration_date">Fecha de Expiración:</label>
      <input id="expiration_date" type="date" formControlName="expiration_date">
    </div>
  
    <button type="submit" [disabled]="formulario.invalid">Crear Plazo Fijo</button>
  </form>
  