<div class="message" [ngClass]="{'bot': message.isBot, 'user': !message.isBot}">
  @if (!message.isFaqList && !message.isTopicList) {
    <div class="message-content">
      {{ message.content }}
    </div>
  }

  @if (message.isTopicList) {
    <div class="topic-list" >
      <h3>¿Sobre qué tema te gustaría consultar?</h3>
      @for(topic of message.topics; track $index){
        <button
        (click)="selectTopic(topic.title)"
        class="topic-button">
        <span class="topic-icon"><i [class]="topic.icon"></i></span>
        {{ topic.title }}
      </button>
    }
  </div>
  }
    
@if (message.isFaqList) {
  <div class="faq-list" >
    <h3>Selecciona tu consulta:</h3>
    @for(faq of message.faqs; track $index){
      <button
      (click)="selectFaq(faq.question)"
      class="faq-button">
      {{ faq.question }}
    </button>
  } 
</div>
}

  <div class="message-time">
    {{ message.timestamp | date:'shortTime' }}
  </div>
</div>