<app-navbar></app-navbar>

@if(!new){
  <div class="new-thread-button">
    <button (click)="new = true">Nueva Consulta</button>
  </div>

  <div class="support-container">
    <h2>Consultas activas</h2>

    <div class="thread-list active" >
      @if(activesThreads.length == 0){
        <h3>No hay consultas activas</h3>
      }@else {
        @for (item of paginatedActivesThreads; track $index) {
          <div class="thread-item active" [routerLink]="['/support-chat', item.id]">
            <h3>{{ item.support_subject }}</h3>
            <p class="thread-date">Creada el: {{ item.created_at | date: 'dd/MM/yyyy' }}</p>
            @if(!item.has_user_last_message){
              <i class="bi bi-patch-exclamation"></i>
            }
          </div>
        }
      }
    </div>

    @if(activesThreads.length > 4){
      <div class="pagination-wrapper">
        <div class="pagination-controls">
          @if(currentPageActive > 1){
            <button class="pagination-button" (click)="changePageActive(currentPageActive - 1)"><i class="bi bi-arrow-left"></i> Anterior</button>
          }

          <div class="page-buttons">
            <button class="pagination-button" *ngFor="let page of [].constructor(totalPagesActives); let i = index" [class.active]="i + 1 === currentPageActive" (click)="changePageActive(i + 1)">{{ i + 1 }}</button>
          </div>

          @if(currentPageActive < totalPagesActives){
            <button class="pagination-button"  (click)="changePageActive(currentPageActive + 1)">Siguiente <i class="bi bi-arrow-right"></i></button>
          }
        </div>
      </div>
    }

    <h2>Consultas finalizadas</h2>
    @if (finishedThreads.length === 0) {
      <h3>No hay consultas finalizadas</h3>
    }@else {
      <div class="finished">

    <a class="delete-thread delete-all" (click)="deleteAllThreads()">
      Eliminar todo <i class="bi bi-trash"></i>
    </a>


    <div class="thread-list closed">
      @for (item of paginatedThreadsFinished; track $index) {
        <div class="thread-item closed" [routerLink]="['/support-chat', item.id]">
          <div class="thread-item-closed-info">
          <h3>{{ item.support_subject }}</h3>
          <p class="thread-date">Creada el: {{ item.created_at | date: 'dd/MM/yyyy' }}</p>
        </div>
          <div class="finished">
          <a class="delete-thread" (click)="deleteThread($event,item.id)">
            <i class="bi bi-trash"></i>
          </a>
        </div>
        </div>
      }
    </div>
    @if(finishedThreads.length > 4){
      <div class="pagination-wrapper">
        <div class="pagination-controls">
          @if(currentPageFinished > 1){
            <button class="pagination-button" (click)="changePageFinished(currentPageFinished - 1)"><i class="bi bi-arrow-left"></i> Anterior</button>
          }

          <div class="page-buttons">
            <button class="pagination-button" *ngFor="let page of [].constructor(totalPagesFinished); let i = index" [class.active]="i + 1 === currentPageFinished" (click)="changePageFinished(i + 1)">{{ i + 1 }}</button>
          </div>

          @if(currentPageFinished < totalPagesFinished){
            <button class="pagination-button"  (click)="changePageFinished(currentPageFinished + 1)">Siguiente <i class="bi bi-arrow-right"></i></button>
          }
        </div>
      </div>
    }
  </div>
  }
  </div>
}@else {
  <div class="page">
    <button (click)="new = false" class="volver-button"><i class="bi bi-caret-left"></i>Volver</button>
    <form [formGroup]="formulario" (ngSubmit)="postThread()">
      <h2>Nueva consulta</h2>
        <label for="support_subject">Seleccione el tema de su consulta:</label>
        <select id="support_subject" name="support_subject" formControlName="support_subject">
            <option value="Cuenta y seguridad">Cuenta y seguridad</option>
            <option value="Tarjetas">Tarjetas</option>
            <option value="Préstamos">Préstamos</option>
            <option value="Plazos fijos">Plazos fijos</option>
            <option value="Transferencias">Transferencias</option>
            <option value="Cambio de monedas">Cambio de monedas</option>
            <option value="Otro">Otro</option>
        </select>

        <label for="message">Mensaje</label>
        <textarea type="text" id="message" formControlName="message" placeholder="Explique brevemente su consulta"></textarea>
        <div class="submit-button">
          <button type="submit" [disabled]="formulario.invalid">Enviar</button>
        </div>

    </form>
  </div>
}
