<app-navbar></app-navbar>

@if(!new){
  <div class="new-thread-button">
    <button (click)="new = true">Nueva Consulta</button>
  </div>
  <div class="support-container">
    <h2>Consultas activas</h2>
  
    <div class="thread-list active" >
      @if(activesThreads.length == 0){
        <h3>No hay consultas activas</h3>
      }@else {

        @for (item of activesThreads; track $index) {
            <div class="thread-item active" [routerLink]="['/support-chat', item.id]">
              <h3>{{ item.support_subject }}</h3>
              <p class="thread-date">Creada el: {{ item.created_at | date: 'dd/MM/yyyy' }}</p>
              @if(item.has_user_last_message){
                <i class="bi bi-patch-exclamation"></i>
              }
              
            </div>
        }
      }
    </div>
    
    
    <h2>Consultas finalizadas</h2>
    
    @if (finishedThreads.length === 0) {
      <h3>No hay consultas finalizadas</h3>
    }

    <div class="thread-list closed">
      @for (item of finishedThreads; track $index) {
          <div class="thread-item closed" [routerLink]="['/support-chat', item.id]">
            <h3>{{ item.support_subject }}</h3>
            <p class="thread-date">Creada el: {{ item.created_at | date: 'dd/MM/yyyy' }}</p>
          </div>
      }
    </div>

  </div>
}@else {
  <div class="page">
    <button (click)="new = false" class="volver-button">Volver</button>
    <form [formGroup]="formulario" (ngSubmit)="postThread()">
      <h2>Nueva consulta</h2>
        <label for="support_subject">Seleccione el tema de su consulta:</label>
        <select id="support_subject" name="support_subject" formControlName="support_subject">
            <option value="Información sobre cuentas">Información sobre cuentas</option>
            <option value="Tarjetas">Tarjetas</option>
            <option value="Préstamos">Préstamos</option>
            <option value="Seguridad y privacidad">Seguridad y privacidad</option>
            <option value="Pagos y transferencias">Pagos y transferencias</option>
            <option value="Servicios adicionales">Servicios adicionales</option>
            <option value="Otro">Otro</option>
        </select>

        <label for="message">Mensaje</label>
        <textarea type="text" id="message" formControlName="message" placeholder="Explique brevemente su consulta"></textarea>
        <div class="submit-button">
          <button type="submit">Enviar</button>
        </div>

    </form>
  </div>
}
