.new-thread-button {
  text-align: end;
  margin: 20px;
}

.support-container {
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px var(--box-shadow-color);
  max-width: 600px;
  margin: 0 auto;
}

.thread-list {
  min-height: 360px;
}

/* .thread-list.closed {
  min-height: 464px;
} */

.thread-item {
  background-color: var(--white);
  cursor: pointer;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--box-shadow-color);
  transition: background-color 0.3s;
  position: relative;
}

.thread-item.active {
  border-left: 5px solid var(--primary-color);
}

.thread-item.closed {
  display: flex;
  justify-content: space-between;
  border-left: 5px solid var(--light-color);
}

.thread-item.closed .finished {
  display: flex;
  justify-content: end;
  align-items: center;
}

.thread-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gray-4);
  margin-bottom: 8px;
}

.thread-date {
  font-size:0.875rem;
  color: var(--gray-3);
}

.thread-item .bi-patch-exclamation {
  font-size: 1.25rem;
  color: var(--accent-color);
  position: absolute;
  top: 15px;
  right: 15px;
  transition: transform 0.3s;
}

.thread-item .bi-patch-exclamation:hover {
  transform: scale(1.2);
}

.page {
  height: calc(100vh - 82.95px);
  background-color: var(--background-gray);
}

form {
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px var(--box-shadow-color);
  margin-top: 20px;
  width: 50%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin-bottom: 8px;
  display: block;
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 120px;
  resize: vertical;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-2);
  font-size: 1rem;
  color: var(--gray-4);
  background-color: var(--background-gray);
  box-sizing: border-box;
  box-shadow: 0 1px 4px var(--box-shadow-color);
  transition: border-color 0.3s, background-color 0.3s;
  font-family: var(--font-menu-form);
}

textarea:focus {
  border-color: var(--accent-color);
  outline: none;
  box-shadow: 0 0 8px var(--box-shadow-color);
}

.submit-button button {
  width: 100%;
  margin-top: 20px;
}

.volver-button {
  margin-top: 20px;
  margin-left: 5%;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 8px 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: var(--white);
  color: #007bff;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #007bff;
  color: var(--white);
}

.pagination-button.active {
  background-color: #007bff;
  color: var(--white);
  border-color: #007bff;
  font-weight: bold;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.bi-trash{
  align-items: end;
  font-size: 1.25rem;
}

.finished{
  display: flex;
  flex-direction: column;
}

a.delete-thread{
  cursor: pointer;
  text-align: end;
}

.delete-all{
  padding: 15px;
}

a.delete-thread:hover{
  color: var(--cancel-button-hover);
}

.char-counter {
  text-align: end;
  font-size: 0.9rem;
  color: var(--gray-3);
  margin-top: 5px;
}

/* Responsividad */

@media (max-width: 1024px) {
  .support-container {
    max-width: 90%;
  }

  form {
    width: 80%;
  }

  .thread-item h3 {
    font-size: 1.125rem; /* Ajustamos el tamaño de los títulos */
  }

  .thread-date {
    font-size: 0.75rem; /* Reducimos el tamaño de la fecha */
  }

  .new-thread-button {
    text-align: center;
  }

}

@media (max-width: 768px) {
  .support-container {
    max-width: 90%;
    padding: 15px;
  }

  .thread-list {
    min-height: 312px;
  }


  form {
    width: 90%;
  }

  .thread-item h3 {
    font-size: 1rem; /* Ajustamos el tamaño de los títulos */
  }

  /* .thread-date {
    font-size: 12px; /* Ajustamos la fecha
  } */

  .thread-item {
    padding: 12px;
  }

  .submit-button button {
    padding: 14px;
  }

  .volver-button {
    margin-left: 2%;
  }

  .new-thread-button {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .support-container {
    padding: 10px;
  }

  .thread-list {
    min-height: 280px;
  }

  form {
    width: 95%;
  }

  .thread-item h3 {
    font-size: 0.875rem; /* Ajustamos más el tamaño de los títulos */
  }

  .thread-date {
    font-size: 0.6875rem; /* Reducimos más el tamaño de la fecha */
  }

  .thread-item {
    padding: 10px;
  }

  .submit-button button {
    padding: 12px;
  }

  .volver-button {
    margin-left: 0;
  }

  .new-thread-button {
    text-align: center;
  }
}
