<div #pdfContent class="receipt">
  <div class="header">
    <img src="/logo-fff.png" alt="Bank Logo"/>
    
    @if(transaction.transaction_type == 'transfer'){
      <h2>Comprobante de Transferencia</h2>
    }@else if(transaction.transaction_type == 'loan'){
      <h2>Comprobante de Préstamo</h2>
    }@else if(transaction.transaction_type === 'fixed term'){
      <h2>Comprobante de Plazo Fijo</h2>
    }@else if(transaction.transaction_type === 'exchange'){
      <h2>Comprobante de compra-venta de dolares</h2>
    }

    <p class="transaction-id">ID de Transacción {{ transaction.id }}</p>
  </div>

  <div class="content">
    <div class="row">
      <label>Fecha de Transacción</label>
      <span>{{ transaction.transaction_date | date }}</span>
    </div>
    <div class="row">
      <label>Monto</label>
      @if (transaction.transaction_type === 'exchange' && (transaction.destination_account_id == 2 || transaction.source_account_id == 2)) {
        <span> U$S{{ transaction.amount}}</span>
      }@else{
      <span>{{ transaction.amount | currency:'ARS':'symbol-narrow':'1.2-2'}}</span>
      }
    </div>
    <div class="row data">
      <label>Cuenta de Origen</label>
      <p>{{typeS}} {{ transaction.source_account_id}}-{{ id }}/1</p>
      <p> {{nameS}} {{lastNameS}} </p>    
    </div>
    <div class="row data">
      <label>Cuenta de Destino</label>
      <p>{{typeD}} {{ transaction.destination_account_id}}-{{ id }}/1</p>
      <p> {{nameD}} {{lastNameD}} </p>
    </div>
    
    <div class="footer">
      <p>Gracias por confiar en nuestros servicios.</p>
    </div>
  </div>
</div>
<button (click)="onCancel()">Cancelar</button>
<button (click)="downloadAsPDF()">Descargar PDF</button>
