<div #pdfContent class="receipt">
    <div class="header">
      <img src="/logo-fff.png" alt="Bank Logo" class="logo" />
      <h2>Comprobante de prestamo</h2>
      <p class="transaction-id">ID de Transacción {{ transaction.id }}</p>
    </div>
  
    <div class="content">
      <div class="row">
        <label>Fecha de Transacción</label>
        <span>{{ formatearFecha(transaction.transaction_date) }}</span>
      </div>
      <div class="row">
        <label>Monto:</label>
        <span>${{ transaction.amount  }}</span>
      </div>
      <div class="row">
        <label>Cuenta de origen</label>
        <span>{{typeS}} {{ transaction.source_account_id}}-{{ id }}/7</span>
        <p> {{sourceUser?.real_name}}  {{sourceUser?.last_name}}</p>
      </div>
      <div class="row">
        <label>Cuenta de Destino</label>
        <p> {{typeD}} {{ transaction.destination_account_id}}-{{ id }}/1</p>
        <p> {{destinationUser?.real_name}}  {{destinationUser?.last_name}}</p>
      </div>
    </div>
  
    <div class="footer">
      <p>Gracias por confiar en nuestros servicios.</p>
    </div>
  </div>
  <button (click)="onCancel()">Cancelar</button>
  <button (click)="downloadAsPDF()">Descargar PDF</button>
  