.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  color: var(--gray-4);
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-family: var(--font-title);
  display: flex;
  align-items: center;
  gap: 10px;
}

form {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

input[type="month"] {
  padding: 8px;
  border: 1px solid var(--gray-2);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--white);
  font-family: var(--font-menu-form);
  transition: border-color 0.3s ease;
  color: var(--gray-4);
}

input[type="month"]:focus {
  border-color: var(--primary-color);
  outline: none;
  color: var(--gray-4);
}

button {
  padding: 10px 20px;
  margin: 20px 0;
}

span {
  font-size: 1rem;
  color: var(--gray-3);
  margin-top: 10px;
  display: block;
}

p {
  font-size: 1rem;
  color: var(--gray-3);
  padding: 20px;
  text-align: center;
}

h2,
p,
span,
button {
  margin: 10px 0;
}
