<!-- Conditional based on account type and currency -->
@if (account.account_type === "Savings") {
  @if (account.currency === 'ars'){
      <h2>Caja de ahorro • {{ account.id }}-{{account.user_id}}/1</h2>
  }@else if (account.currency === 'usd'){
      <h2>Caja de ahorro U<span>$</span>S • {{ account.id }}-{{account.user_id}}/1</h2>
    }

} @else if (account.account_type === "Checking") {
  <h2> Cuenta corriente • {{account.id}}/{{account.user_id}}</h2>
}

<!-- Display CBU, alias, and other details -->
<div #pdfContent class="cbuAlias">
  <div class="cbu">
    <p>CBU</p>
    <p>{{ account.cbu }}</p>
  </div>

  <div class="alias">
    <p>Alias</p>
    @if (!isEditing){
      <p>{{ account.alias }}</p>
    } @else{
      <form [formGroup]="form">
        <div class="form-group">
          <input type="text" formControlName="newAlias" placeholder="Nuevo Alias" class="input-field"/>
        </div>
      </form>
    }
  </div>

  <div class="name">
    <p>Titular</p>
    <p>{{ user.last_name }} {{ user.real_name }}</p>
  </div>

  <div class="dni">
    <p>DNI</p>
    <p>{{ user.dni }}</p>
  </div>

  <!-- Buttons for copying data, downloading PDF, and modifying alias -->
  <div class="buttons">
    <button (click)="copyToClipboard()" class="no-print">Copiar datos <i class="bi bi-copy"></i></button>
    <button (click)="downloadAsPDF()" class="no-print">Descargar <i class="bi bi-download"></i></button>
    <button class="no-print" (click)="isEditing ? modifyAlias() : toggleEditing()">{{ isEditing ? "Guardar" : "Modificar alias" }}<i class="bi bi-pencil-square"></i></button>
    @if (isEditing) {
      <button class="no-print cancel-button" (click)="toggleEditing()">Cancelar</button>
    }
  </div>
</div>
