@if (account.account_type==='Savings') {
  <h1> Caja de ahorros - {{account.id}}/{{account.user_id}}</h1>
}
@if (account.account_type==='Checking') {
  <h1> Cuenta corriente - {{account.id}}/{{account.user_id}}</h1>
}
<div #pdfContent class="cbuAlias">
  <div class="cbu">
    <p>CBU</p>
    <p>{{ account.cbu }}</p>
  </div>
  
  <div class="alias">
    <p>Alias</p>
    @if (!isEditing){
    <p>{{ account.alias }}</p>
    } @if (isEditing){
    <form [formGroup]="formulario">
      <input type="text" formControlName="newAlias" placeholder="Nuevo Alias" />
    </form>
    }
  </div>

  <div class="name">
    <p>Titular</p>
    <p>{{ user.last_name }} {{ user.real_name }}</p>
  </div>
  <div class="dni">
    <p>DNI</p>
    <p>{{ user.dni }}</p>
  </div>
  <div class="buttons">
    <button (click)="copyToClipboard()" class="no-print">
      Copiar datos <i class="bi bi-copy"></i>
    </button>
    <button (click)="downloadAsPDF()" class="no-print">
      Descargar <i class="bi bi-download"></i>
    </button>
    <button
      class="no-print"
      (click)="isEditing ? modifyAlias() : toggleEditing()"
    >
      {{ isEditing ? "Guardar" : "Modificar alias" }}
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>
</div>
