.cbuAlias {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin-top: 5%;
}

.cbu, .alias, .name, .dni {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.cbu p, .alias p, .name p, .dni p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.cbu p:first-child,
.alias p:first-child,
.name p:first-child,
.dni p:first-child {
  font-weight: bold;
  color: var(--primary-color);
}

.alias-sub input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.no-print {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

.no-print i {
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: var(--button-hover);
}

h1{
  display: grid;
  place-items: center;
  margin-top: 3%;
}