/* LISTO */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 79.75px);
  background-color: var(--background-gray); 
}

.card-content {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  padding: 30px;
  max-width: 500px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
