/* ! LISTO */
.page1 {
  margin: 20px 0;
}

.required {
  color: var(--cancel-button);
}

table {
  width: 90%;
  border-collapse: collapse;
  background-color: var(--white);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 4px 6px var(--box-shadow-color);
  margin: 0 auto;
}

th,
td {
  border-bottom: 1px solid var(--gray-2);
}

td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
  word-wrap: break-word;
  white-space: normal;
}

tr:nth-child(even) {
  background-color: var(--background-gray);
}

tr:hover {
  background-color: var(--gray-2);
  cursor: pointer;
}

.new {
  font-size: 1.5rem;
  margin-left: auto;
  background: none;
  color: var(--secondary-color);
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.new:hover {
  transform: rotate(180deg);
  transform-origin: center center;
}

.page {
  margin: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.input-wrapper {
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
}

.error-message {
  color: var(--cancel-button-hover);
  font-size: 12px;
}

.submit-button {
  display: grid;
  align-items: center;
  justify-content: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

.go-back {
  margin: 20px;
}

.chat-bubble {
  position: absolute;
  top: 50%;
  left: -220px;
  transform: translateY(-15%);
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 14px;
  box-shadow: 0px 4px 6px var(--box-shadow-color);
  z-index: 100;
  width: 200px;
  white-space: normal;
}

.chat-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f1f1f1;
}

@media (max-width: 850px) {
  form {
    width: 80%;
  }

  .page1 {
    margin: 15px 0;
  }

  .chat-bubble {
    position: relative;
    bottom: -5px;
    left: 0;
    width: 140px;
    max-width: 90%;
    margin-bottom: 20px;
  }

  .chat-bubble:after {
    border-color: transparent var(--white) transparent transparent;
  }
}

@media (max-width: 480px) {
  form {
    width: 90%;
  }

  th {
    font-weight: 400;
    font-size: 14px;
  }

  .page1 {
    margin: 10px 0;
  }
}
