/* html,
.tableDiv {
  margin: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
} */

.page1{
  margin: 20px 0;

}

table {
  width: 90%;
  border-collapse: collapse;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px var(--box-shadow-color);
  margin: 0 auto;
}

th,
td {
  border-bottom: 1px solid var(--gray-2);
}

td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--primary-color);
  color: var(--white);
  /* font-family: 'Arial', sans-serif; */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--background-gray);
}

tr:hover {
  background-color: var(--gray-2);
  cursor: pointer;
}

.new {
  font-size: 1.5rem;
  margin-left: auto;
  background: none;
  /* border: none; */
  color: #4e9af1;
  /* cursor: pointer; */
  padding: 10px 15px;
  /* transition: color 0.3s ease, transform 0.3s ease; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.new:hover {
  color: #0056b3;
  transform: rotate(180deg);
  transform-origin: center center;
}

.page {
  margin: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.input-wrapper {
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* font-size: 16px; */
  margin-top: 30px;
}

label {
  position: absolute;
  top: 40px;
  left: 10px;
  /* font-size: 16px;
  color: #aaa; */
  transition: 0.2s;
  cursor: auto;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 10px;
  left: 10px;
  font-size: 12px;
  /* color: #4e9af1; */
}

.error-message {
  color: var(--cancel-button-hover);
  font-size: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.submit-button,
.cancel-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button {
  /* background-color: #4e9af1;
  color: var(--white); */
  display: grid;
  align-items: center;
  justify-content: center;
}

.cancel-button {
  background-color: var(--cancel-button);
}

.cancel-button:hover {
  background-color: var(--cancel-button-hover);
}


/* .submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

form {
  width: 50%;
  margin: 0 auto;
}

.go-back {
  padding: 10px 15px;
  margin: 20px;
  box-shadow: 0px 4px 6px var(--box-shadow-color);
}

.chat-bubble {
  position: absolute;
  top: 50%; 
  left: -220px; 
  transform: translateY(-15%); 
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0px 4px 6px var(--box-shadow-color);
  z-index: 100;
  width: 200px; 
  white-space: normal; 
}

.chat-bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px; 
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f1f1f1;
}

