<app-navbar-admin></app-navbar-admin>
@if(!flag){
  @if(rates.length === 0){
  <h2>No hay tasas de interes disponibles</h2>
  <button class="new" (click)="flag = false"><i class="bi bi-plus-square-fill"></i></button>
  }@else{
<div class="tableDiv">
  <h2>Historial de tasas de interes</h2>
  <button class="new" (click)="flag = true"><i class="bi bi-plus-square-fill"></i></button>
  <table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Interes de plazo fijo</th>
        <th>Interes de prestamo</th>
        <th>Fecha de actualizacion</th>
      </tr>
    </thead>

    <tbody>
      @for (item of rates; track $index) {
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.fixed_term_interest_rate}}</td>
        <td>{{item.loan_interest_rate}}</td>
        <td>{{item.last_updated | date:'dd/MM/yyyy':'es-AR'}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
  }
}@else if(flag){
<h2>Nueva tasa de interes</h2>
<div class="page">
  <form [formGroup]="formulario" (ngSubmit)="newRate()">
    <div class="form-group">
      <div class="input-wrapper">
        <input type="number" id="loan_interest_rate" formControlName="loan_interest_rate" placeholder=" " />
        <label for="loan_interest_rate">Tasa de interes por dia del prestamo <span class="required">*</span></label>
      </div>
      @if (formulario.controls['loan_interest_rate'].getError('required') &&
      formulario.controls['loan_interest_rate'].touched) {
      <span class="error-message">Campo requerido</span>
      }
      @if (formulario.controls['loan_interest_rate'].getError('min') &&
      formulario.controls['loan_interest_rate'].touched) {
      <span class="error-message">Debe ser mayor a 0</span>
      }
    </div>

    <div class="form-group">
      <div class="input-wrapper">
        <input type="number" id="fixed_term_interest_rate" formControlName="fixed_term_interest_rate" placeholder=" " />
        <label for="fixed_term_interest_rate">Tasa de interes por dia del plazo fijo <span
            class="required">*</span></label>
      </div>
      @if (formulario.controls['fixed_term_interest_rate'].touched &&
      formulario.controls['fixed_term_interest_rate'].getError('required')) {
      <span class="error-message">Campo requerido</span>
      }
      @if (formulario.controls['fixed_term_interest_rate'].touched &&
      formulario.controls['fixed_term_interest_rate'].getError('min')) {
      <span class="error-message">Debe ser mayor a 0</span>
      }
    </div>
    <div class="buttons">
      <button type="submit" class="submit-button" [disabled]="formulario.invalid">Confirmar</button>
      <button class="cancel-button" (click)="flag = false">Cancelar</button>
    </div>
  </form>
</div>
}
