<app-navbar></app-navbar>

<div class="page">
<form [formGroup]="formulario" (ngSubmit)="updatePaid()">
  <div>
    <div>
          <h2>Pagar préstamo</h2>
          @if (loan) {
              <h3>Total de deuda: {{loan?.return_amount - loan?.paid | currency:'ARS':'symbol-narrow':'1.2-2'}}</h3>
              <h3>Fecha de vencimiento: {{loan.expiration_date | date:'dd/MM/yyyy':'es-AR'}}</h3>
            }

    </div>
    <label for="account_id">Seleccione una cuenta para pagar: </label>
    <select name="account_id" id="account_id" formControlName="account_id">
      @for (item of accounts; track $index) {
        @if (!item.closing_date && item.currency === 'ars') {
            <option [value]="item.id">
              {{ item.id }} - {{ item.balance }}
            </option>
        }
    }
    </select>

    @if(formulario.controls['account_id'].touched &&
    formulario.controls['account_id'].getError('required')){
    <p>El ID de cuenta es obligatorio.</p>
    }
  </div>

  <div>
    <label for="amount">Monto a abonar:</label>
    <input
      id="amount"
      type="number"
      formControlName="amount"
      (keydown)="validateInteger($event)"
    />
    @if(formulario.controls['amount'].touched &&
    formulario.controls['amount'].getError('required')){
    <p>El monto invertido es obligatorio.</p>
    }
    <div>
      @if(formulario.controls['amount'].touched &&
      formulario.controls['amount'].getError('min')){
      <p>El monto invertido debe ser mayor a 0.</p>
      }
    </div>
  </div>

  <div class="buttons">
    <button class="cancel-button" [routerLink]="['/list-loan']" >Cancelar</button>
    <button type="submit" class="submit-button" [disabled]="formulario.invalid">Confirmar</button>
  </div>
</form>
</div>

