/* General styles for card container */
.card {
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 6px var(--box-shadow-color);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.card h3 span {
  font-size: 1.3rem;
}

.card p {
  color: var(--gray-3);
  margin-bottom: 8px;
}

/* Amount section */
.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.amount .balance-number {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-top: 10px;
}

.balance-number span {
  font-size: 1.125rem;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: color 0.3s;
}

.toggle-btn:hover i {
  color: var(--accent-color);
}
