.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--extra-light-color);
  border: 1px solid var(--gray-1);
  border-radius: 10px;
  padding: 15px;
  color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-bottom: 15px;
  transition: transform 0.25s ease;

  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px var(--gray-3), 0 0 0 4px var(--olive);
  }
}

.info h3 {
  font-family: var(--font-title);
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.info p {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--secondary-color);
}

.balance {
  text-align: right;
}

.balance-number {
  font-family: var(--font-body);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--accent-color);
}

.label {
  font-family: var(--font-menu-form);
  font-size: 0.9rem;
  color: var(--gray-1);
}

.tile {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--olive);
  color: var(--gray-4);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &:focus-within {
    box-shadow: 0 0 0 2px var(--gray-3), 0 0 0 4px var(--olive);
  }

  &:nth-child(2) {
    background-color: var(--green);
    &:focus-within {
      box-shadow: 0 0 0 2px var(--gray-3), 0 0 0 4px var(--green);
    }
  }

  &:nth-child(3) {
    background-color: var(--gray-2);
    &:focus-within {
      box-shadow: 0 0 0 2px var(--gray-3), 0 0 0 4px var(--gray-2);
    }
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    color: inherit;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.tile-header {
  display: flex;
  align-items: center;

  i {
    font-size: 2.5em;
  }

  h3 {
    display: flex;
    flex-direction: column;
    line-height: 1.375;
    margin-left: 0.5rem;

    span:first-child {
      font-weight: 600;
    }

    span:last-child {
      font-size: 0.825em;
      font-weight: 200;
    }
  }
}
