<!-- ! LISTO -->
<div class="card" routerLink="/accounts/account/{{ account.id }}">
    
    <!-- Condicional para tipo de cuenta: Caja de ahorro o Cuenta corriente -->
    @if (account.account_type == "Savings") {
        <h3>Caja de ahorro</h3>
        <p>{{ account.id }}-{{ userId }}/1</p>
    } @else if (account.account_type == "Checking") {
        <h3>Cuenta corriente</h3>
        <p>{{ account.id }}-{{ userId }}/2</p>
    }

    <!-- Sección para mostrar el balance de la cuenta -->
    <div class="amount">
        @if (showBalance) {
            @if (account.currency === 'ars'){
                <p class="balance-number">{{ account.balance | currency:'ARS':'symbol-narrow':'1.2-2'}}</p>
            }@else if (account.currency === 'usd'){
                <p class="balance-number">U<span>$</span>S {{ account.balance | number:'1.2-2' }}</p>
            }
        }@else {
            <p class="balance-number">******</p>
        }

        <!-- Botón para alternar visibilidad del balance -->
        <button type="button" class="toggle-btn"  (click)="toggleBalance($event)"><i [class]="showBalance ? 'bi bi-eye' : 'bi bi-eye-slash'"></i></button>
    </div>
</div>