.modal button {
  width: 100%;
}

.modal input,
.modal select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
}

.modal p {
  color: var(--primary-color);
  margin: 1em 0;
  text-align: center;
}

#cantidad {
  width: 100%;
  padding: 12px;
  outline: none;
}

.page {
  background-color: var(--background-gray);
  min-height: calc(100vh - 82px);
  display: flex;
  align-items: center;
}

.programming-container {
  background-color: var(--white);
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

form {
  padding-top: 20px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray-2);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  width: 100%;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .modal {
    width: 95%;
    padding: 2rem;
  }

  .modal h2 {
    font-size: 1.5rem;
  }

  .modal button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .modal input,
  .modal select {
    padding: 0.6rem;
    font-size: 0.9rem;
  }
}
