<nav class="navbar">
  <a class="logo" routerLink="/main">
    <img src="/logo-navbar.png" alt="Logo del Banco" class="logo-image" />
  </a>
  <ul class="nav-links">
    <li class="account-dropdown" (click)="toggleAccountMenu()">
      <a class="dropdown-link">Cuentas</a>
      <ul class="account-menu" [class.show]="isAccountOpen">
        <li><a routerLink="/accounts">Mis cuentas</a></li>
        <li><a routerLink="/accounts/new-account">Crear cuenta</a></li>
      </ul>
    </li>
    <li><a routerLink="/transactions">Transferencias</a></li>
    <li><a routerLink="/fixed-terms">Plazo fijo</a></li>
    <li><a routerLink="/cards">Mis tarjetas</a></li>
    <li class="profile-dropdown" (click)="toggleProfileMenu()">
      <a class="profile-link dropdown-link">Perfil</a>
      <ul class="profile-menu" [class.show]="isProfileMenuOpen">
        <li><a routerLink="/profile">Ver perfil</a></li>
        <li><a routerLink="/update-password">Modificar contraseña</a></li>
      </ul>
    </li>
    <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
  </ul>
</nav>
