<nav class="navbar">
  <a class="logo" routerLink="/main">
    <img src="/logo-navbar.png" alt="Logo del Banco" class="logo-image" />
  </a>
  <ul class="nav-links">
    
    <li class="account-dropdown" [ngClass]="{'show-menu': activeMenu === 'account'}">
      <a class="dropdown-link" (click)="toggleMenu('account')">Cuentas</a>
      <ul class="account-menu">
        <li><a routerLink="/accounts">Mis cuentas</a></li>
        <li><a routerLink="/accounts/new-account">Solicitar cuenta</a></li>
      </ul>
    </li>

    <li class="fixed-terms-dropdown" [ngClass]="{'show-menu': activeMenu === 'fixedterms'}">
      <a class="dropdown-link" (click)="toggleMenu('fixedterms')">Plazo fijo</a>
      <ul class="fixed-terms-menu">
        <li><a routerLink="/fixed-terms">Mis plazos fijos</a></li>
        <li><a routerLink="/fixed-terms/new">Agregar plazo fijo</a></li>
      </ul>
    </li>

    <li><a routerLink="/transactions">Transferencias</a></li>
    <li><a routerLink="/cards">Tarjetas</a></li>

    <li class="loans-dropdown" [ngClass]="{'show-menu': activeMenu === 'loans'}">
      <a class="loans-link dropdown-link" (click)="toggleMenu('loans')">Prestamos</a>
      <ul class="loans-menu">
        <li><a routerLink="/list-loan">Mis prestamos</a></li>
        <li><a routerLink="/new-loan">Solicitar prestamo</a></li>
      </ul>
    </li>

    <li class="profile-dropdown" [ngClass]="{'show-menu': activeMenu === 'profile'}">
      <a class="profile-link dropdown-link" (click)="toggleMenu('profile')">Perfil</a>
      <ul class="profile-menu">
        <li><a routerLink="/profile">Ver perfil</a></li>
        <!-- <li><a routerLink="/update-password">Modificar contraseña</a></li> -->
      </ul>
    </li>
    <button class="logout-button" (click)="logout()">Cerrar sesión</button>
  </ul>
</nav>