<app-navbar></app-navbar>
<div class="accounts">
  <h2 class="section-title">Cuenta</h2>
  <div class="accounts-div">
    <label for="accountSelect"></label>
    <select id="accountSelect" (change)="onAccountSelect($event)">
      <option value="">Seleccione una cuenta</option>
      @for (account of accounts; track $index) {
        @if(account.closing_date == null) {
          <option [value]="account.id">
            @if (account.account_type == "Savings") {
              <h3>CA </h3>
              <p>{{ account.id }}-{{ userId }}/1--${{ account.balance }}</p>
            } @else {
              @if (account.account_type == "Checking") {
                <h3>CC </h3>
                <p>{{ account.id }}-{{ userId }}/2--${{ account.balance }}</p>
              }
            }
          </option>
        }
      }
    </select>
  </div>
</div>

@if (transfers.length > 0) {
  <div class="transactions">
    <h2 class="section-title">Movimientos</h2>
    <div class="transactions-page">
      <div class="transactions-container">
        <div *ngFor="let transaction of paginatedTransactions">
          <app-transaction [transaction]="transaction" [selectedAccountId]="selectedAccountId"></app-transaction>
        </div>
      </div>
    </div>
  </div>

  <div class="transactions">
    <h2 class="section-title">Transacciones pendientes...</h2>
    @if (pendingTransfers.length > 0) {
      <div *ngFor="let transaction of pendingTransfers">
        <div class="transactions-page">
          <div class="transactions-container">
            <app-transaction [transaction]="transaction" [selectedAccountId]="selectedAccountId"></app-transaction>
          </div>
        </div>
      </div>
    } @else {
      <p class="aviso">No posee transacciones pendientes.</p>
    }
  </div>

  <!-- Controles de paginación -->
  <div class="pagination-wrapper">
    <div class="pagination-controls">
      <!-- Botón "Anterior" -->
      <button class="pagination-button" *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)">
        ⬅ Anterior
      </button>

      <!-- Botones numerados -->
      <div class="page-buttons">
        <button
          class="pagination-button"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="i + 1 === currentPage"
          (click)="changePage(i + 1)">
          {{ i + 1 }}
        </button>
      </div>

      <!-- Botón "Siguiente" -->
      <button class="pagination-button" *ngIf="currentPage < totalPages" (click)="changePage(currentPage + 1)">
        Siguiente ➡
      </button>
    </div>
  </div>
} @else {
  <p class="aviso">No posee transacciones.</p>
}
