/* LISTO */
.accounts,
.transactions {
  margin: 20px;
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: var(--background-gray);
  box-shadow: 0px 4px 8px var(--box-shadow-color);
}

.transactions{
  min-height: 420px;
}

.accounts-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactions-container {
  width: 70%;
  margin: 0 auto;
}

app-transaction{
  width: 100%;
}

#accountSelect {
  padding: 10px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 8px 12px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: var(--white);
  color: #007bff;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button:hover {
  background-color: #007bff;
  color: var(--white);
}

.pagination-button.active {
  background-color: #007bff;
  color: var(--white);
  border-color: #007bff;
  font-weight: bold;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.aviso {
  font-family: var(--font-body);
  color: var(--gray-3);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--extra-light-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px var(--box-shadow-color);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
