<app-navbar></app-navbar>
@if (accounts.length === 0) {
  <div class="warning-message">
    <p>Lo sentimos, no posee cuentas disponibles.</p>
  </div>
}@else { 
<div class="accounts">
  <h2>Cuenta</h2>
  <div class="accounts-div">
    <label for="accountSelect"></label>
    <select id="accountSelect" (change)="onAccountSelect($event)">
      <option value="">Seleccione una cuenta</option>
      @for (account of accounts; track $index) {
        @if(account.closing_date === null && account.currency === "ars") {
          <option [value]="account.id">
            @if (account.account_type === "Savings") {
              <h3>CA </h3>
              <p>{{ account.id }}-{{ userId }}/1--${{ account.balance }}</p>
            } @else if (account.account_type === "Checking") {
                <h3>CC </h3>
                <p>{{ account.id }}-{{ userId }}/2--${{ account.balance }}</p>
            }
          </option>
        }
      }
    </select>
  </div>
</div>

@if (transfers.length > 0) {
  <div class="transactions">
    <h2>Movimientos</h2>
    <div class="transactions-page">
      <div class="transactions-container">
        @for(transaction of paginatedTransactions; track $index){
          <app-transaction 
            [transaction]="transaction" 
            [selectedAccountId]="selectedAccountId"    
            [isOpen]="isReceiptOpen(transaction.id)" 
            (toggle)="toggleReceipt(transaction.id)"
          ></app-transaction>
        }
      </div>
    </div>
  </div>

  @if(transfers.length > 4){
    <div class="pagination-wrapper">
      <div class="pagination-controls">
        @if(currentPage > 1){
          <button class="pagination-button" (click)="changePage(currentPage - 1)">⬅ Anterior</button>
        }

        <div class="page-buttons">
          <button class="pagination-button" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i + 1 === currentPage" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </div>

        @if(currentPage < totalPages){
          <button class="pagination-button"  (click)="changePage(currentPage + 1)">Siguiente ➡</button>
        }
      </div>
    </div>
  }
} @else {
  <div class="warning-message">
    <p>No posee transacciones.</p>
  </div>}

@if (pendingTransfers.length > 0) {
<div class="transactions">
  <h2>Transacciones pendientes</h2>
    <div class="transactions-page">
      <div class="transactions-container">
          @for(transaction of paginatedTransactionsP; track $index){
            <app-transaction 
            [transaction]="transaction" 
            [selectedAccountId]="selectedAccountId"    
            [isOpen]="isReceiptOpen(transaction.id)" 
            (toggle)="toggleReceipt(transaction.id)"
            ></app-transaction>
          }
      </div>
    </div>
  </div>
  @if(pendingTransfers.length > 4){
    <div class="pagination-wrapper">
      <div class="pagination-controls">
        @if(currentPagePending > 1){
          <button class="pagination-button" (click)="changePageP(currentPagePending - 1)">⬅ Anterior</button>
        }

        <div class="page-buttons">
          <button class="pagination-button" *ngFor="let page of [].constructor(totalPagesP); let i = index" [class.active]="i + 1 === currentPagePending" (click)="changePageP(i + 1)">{{ i + 1 }}</button>
        </div>

        @if(currentPagePending < totalPagesP){
          <button class="pagination-button"  (click)="changePageP(currentPagePending + 1)">Siguiente ➡</button>
        }
      </div>
    </div>
  }
  }
}