<app-navbar></app-navbar>
<div class="accounts">
  <h2 class="section-title">
     Cuenta
  </h2>
  <div class="accounts-div">
    <label for="accountSelect"></label>
    <select id="accountSelect" (change)="onAccountSelect($event)">
      <option value="">Seleccione una cuenta</option>
      <option *ngFor="let account of accounts" [value]="account.id">
        @if (account.account_type == "Savings") {
          <h3>CA </h3>
          <p>{{ account.id }}-{{userId }}/1</p>
          } @if (account.account_type == "Checking") {
          <h3>CC </h3>
          <p>{{ account.id }}-{{ userId }}/2</p>
          }
      </option>
    </select>
  </div>
</div>

<div class="transactions">
    <h2 class="section-title">Movimientos</h2>

  
    <div
      class="transactions-container"
      *ngFor="let transaction of transactions; let i = index"
    >
      <app-transaction
        [transaction]="transaction"
      ></app-transaction>
    </div>
  </div>