.page {
  display: flex;
  justify-content: center;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 800px;
  max-width: 80%;
  margin-top: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px var(--box-shadow-color);
  margin-bottom: 30px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.message-content {
  max-width: 40%;
} 

.message.admin-message .message-content > *:nth-child(1) {
  box-shadow: 0 2px 4px var(--box-shadow-color);
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: var(--border-radius);
}

.message.admin-message .message-content > *:nth-child(2) {
  padding: 5px;
  color: var(--gray-3);

}
.message.admin-message .message-content {
  display: grid;
  grid-template-rows: auto auto;
  color: var(--white);
  align-self: flex-start;
  margin-left: 10px;
}

.message.user-message .message-content {
  display: grid;
  grid-template-rows: auto auto;
  /* background-color: var(--light-color); */
  color: var(--gray-4);
  align-self: flex-end;
  margin-right: 10px;
}

.message.user-message .message-content > *:nth-child(1) {
  box-shadow: 0 2px 4px var(--box-shadow-color);
  background-color: var(--light-color);
  padding: 10px;
  border-radius: var(--border-radius);
}

.message.user-message .message-content > *:nth-child(2) {
  padding: 5px;
  color: var(--gray-3);
  text-align: end;

}

.message-time {
  font-size: 0.625rem;
  color: var(--gray-1);
}

.message-input-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-input {
  flex: 1;
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid var(--gray-2);
  border-radius: 8px;
  outline: none;
}

.message-input:focus {
  border-color: var(--accent-color);
}

.volver-button {
  position: absolute;
  margin-bottom: 80%;
  margin-left: -15%;
  width: 10%;
  text-align: center;
}

.finalizar-button {
  margin-top: 20px;
  margin-right: 5%;
  background-color: var(--cancel-button);
}

.finalizar-button:hover {
  background-color: var(--cancel-button-hover);
}

.botones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .chat {
    width: 90%;
    max-width: 100%;
  }

  .chat-container {
    padding: 15px;
    margin-bottom: 40px;
  }

  .message-content {
    max-width: 50%;
  }

  .message-input {
    font-size: 0.75rem;
  }

  .finalizar-button {
    margin-right: 10%;
  }

  .botones-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .volver-button {
    position: relative;
    margin-top: 10px;
    margin-left: 5%;
    width: 25%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .chat {
    width: 90%;
    max-width: 100%;
  }

  .chat-container {
    padding: 10px;
    margin-bottom: 40px;
  }

  .message-content {
    max-width: 60%;
  }

  /* .message-input {
    font-size: 12px;
  } */

  .volver-button {
    position: relative;
    margin-top: 10px;
    margin-left: 5%;
    width: 25%;
    text-align: center;
    margin-bottom: 0;
  }

  .finalizar-button {
    margin-right: 15%;
  }

  .botones-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 550px) {

  .chat {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10%;
  }

  .chat-container {
    height: 70vh;
    padding: 10px;
    margin-bottom: 10%;
  }

  .message-content {
    max-width: 70%;
  }

  .message-input {
    font-size: 0.625ren;
  }

  .volver-button {
    position: relative;
    margin-top: 10px;
    margin-left: 5%;
    width: 25%;
    text-align: center;
  }

  .finalizar-button {
    margin-right: 20%;
  }

  .botones-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .message-time {
    font-size: 0.5rem;
  }
}
