<!-- ! LISTO -->
<app-navbar></app-navbar>
@if (trading === '') {
  <app-dolar></app-dolar>
}
<div class="page">
  @if (trading === '') {
    <div class="page2">
      <div class="dashboard-card" (click)="trading = 'compra'">
        <h2 class="card-title">Compra</h2>
        <p class="card-icon"><i class="bi bi-currency-dollar"></i></p>
      </div>
      <div class="dashboard-card" (click)="trading = 'venta'">
        <h2 class="card-title">Venta</h2>
        <p class="card-icon"><i class="bi bi-cash"></i></p>
      </div>
    </div>
  }

  @if (trading === 'compra'){
    <div class="page3">
      <div class="closeButton">
        <button (click)="trading = ''" (click)="resetValues()"><i class="bi bi-caret-left"></i> Volver</button>
      </div>
      <div class="modal">
        <h2>Compra de USD</h2>
        <form [formGroup]="formulario" (ngSubmit)="buyUSD()">
          <label for="amount">Cantidad a comprar</label>
          <input id="amount" type="number" formControlName="amount" placeholder="Ingrese cantidad en ARS" (input)="updateCalculatedARSbuy(formulario.get('amount')?.value)" />
          @if(formulario.controls['amount'].getError('max')){
              <span>El monto máximo de compra es de USD $10.000</span>
          }@else if (calculatedValueARSbuy > 0) {
              <p>Equivalente en ARS: <strong>{{ calculatedValueARSbuy | number: '1.2-2'}}</strong></p>
          }
          <label for="source_account">Cuenta de origen</label>
          <select id="source_account" formControlName="source_account">
            @for (account of accounts; track $index) {
              @if (!account.closing_date) {
                @if (account.currency === 'ars') {
                  @if (account.account_type === 'Savings') {
                    <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                  }@else {
                    <option value="{{account.id}}">CC {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                  }
                }
              }
            }
          </select>

          <label for="destination_account">Cuenta de destino</label>
          <select name="destination_account" formControlName="destination_account">Cuenta de destino
            @for (account of accounts; track $index) {
              @if (account.currency === 'usd') {
                @if (!account.closing_date) {
                  <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - U$S{{account.balance}} </option>
                }
              }
            }
          </select>

          <button type="submit" [disabled]="formulario.invalid">Comprar</button>
        </form>
      </div>
    </div>
  }

    @if (trading === 'venta'){
      <div class="page3">
        <div class="closeButton">
          <button (click)="trading = ''" (click)="resetValues()"><i class="bi bi-caret-left"></i>Volver</button>
        </div>
        <div class="modal">
          <h2>Venta de USD</h2>
          <form [formGroup]="formulario" (ngSubmit)="sellUSD()">
            <label for="amount">Cantidad a vender</label>
            <input id="amount" type="number" formControlName="amount" placeholder="Ingrese cantidad en USD" (input)="updateCalculatedARSsell(formulario.get('amount')?.value)" />
            @if(formulario.controls['amount'].getError('max')){
              <span>El monto maximo de compra es de USD $10.000</span>
          }@else if(calculatedValueARSsell > 0){
            <p>Equivalente en ARS: <strong>{{ calculatedValueARSsell | number: '1.2-2'}}</strong></p>
          }
            <label for="source_account">Cuenta de origen</label>
            <select id="source_account" formControlName="source_account">
              @for (account of accounts; track $index) {
                @if (!account.closing_date) {
                  @if (account.currency === 'usd') {
                    <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - U$S{{account.balance}} </option>
                  }
                }
              }
            </select>

            <label for="destination_account">Cuenta de destino</label>
            <select id="destination_account" formControlName="destination_account">
              @for (account of accounts; track $index) {
                @if (!account.closing_date) {
                  @if (account.currency === 'ars') {
                    @if (account.account_type === 'Savings') {
                      <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                    }@else {
                      <option value="{{account.id}}">CC {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                    }
                  }
                }
              }
            </select>

            <button type="submit" [disabled]="formulario.invalid">Vender</button>
          </form>
        </div>
      </div>
    }
</div>