<app-navbar></app-navbar>
<app-dolar></app-dolar>

<div class="page">
    <!-- Página principal -->
    @if (trading === '') {
      <div class="page2">
        <div class="dashboard-card" (click)="trading = 'compra'">
          <h2 class="card-title">Compra</h2>
          <p class="card-icon">💰</p>
        </div>
        <div class="dashboard-card" (click)="trading = 'venta'">
          <h2 class="card-title">Venta</h2>
          <p class="card-icon">💵</p>
        </div>
      </div>
    }
    
  
    <!-- Sección de compra -->
    @if (trading === 'compra'){
      <div class="page3">
      <div class="closeButton">
        <button (click)="trading = ''" (click)="this.formulario.reset()">Volver</button>
      </div>
        <div class="modal">
            <h2>Compra de USD</h2>
            <form [formGroup]="formulario" (ngSubmit)="buyUSD()">
              <label for="amount">Cantidad a comprar</label>
             
              <input id="amount" type="number" formControlName="amount" placeholder="Ingrese cantidad en ARS"   (input)="updateCalculatedUSD(formulario.get('amount')?.value)"/>
              <p *ngIf="calculatedValueUSD > 0">Equivalente en USD: <strong>{{ calculatedValueUSD | number: '1.2-2' }}</strong></p>
        
              <label for="source_account">Cuenta de origen</label>
              <select id="source_account" formControlName="source_account">
                @for (account of accounts; track $index) {
                  @if (!account.closing_date) {
                      @if (account.currency === 'ars') {
                          @if (account.account_type === 'Savings') {
                              <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                          }@else {
                              <option value="{{account.id}}">CC {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                          }
                      }
                  }
              }
              </select>
        
              <label for="destination_account">Cuenta de destino</label>
              <!-- <select id="destination_account" formControlName="destination_account"> -->
              <select name="destination_account" formControlName="destination_account">Cuenta de destino
                @for (account of accounts; track $index) {
                    @if (account.currency === 'usd') {
                    @if (!account.closing_date) {
                                <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - U$S{{account.balance}} </option>
                        }
                    }
                }
              </select>
              <!-- </select> -->
        
              <button type="submit" [disabled]="formulario.invalid">Comprar</button>
            </form>
          </div>
        </div>
    }
    
    <!-- Sección de venta -->
    @if (trading === 'venta'){
      <div class="page3">
      <div class="closeButton">
        <button (click)="trading = ''">Volver</button>
      </div>
        <div class="modal">
            <h2>Venta de USD</h2>
            <form [formGroup]="formulario" (ngSubmit)="sellUSD()">
              <label for="amount">Cantidad a vender</label>
              <input id="amount" type="number" formControlName="amount" placeholder="Ingrese cantidad en USD"   (input)="updateCalculatedARS(formulario.get('amount')?.value)"
              />
              <p *ngIf="calculatedValueARS > 0">Equivalente en ARS: <strong>{{ calculatedValueARS | number: '1.2-2' }}</strong></p>
        
              <label for="source_account">Cuenta de origen</label>
              <select id="source_account" formControlName="source_account">
                  @for (account of accounts; track $index) {
                      @if (!account.closing_date) {
                          @if (account.currency === 'usd') {
                                  <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - U$S{{account.balance}} </option>
                          }
                      }
                  }
              </select>
        
              <label for="destination_account">Cuenta de destino</label>
              <select id="destination_account" formControlName="destination_account">
                  @for (account of accounts; track $index) {
                      @if (!account.closing_date) {
                          @if (account.currency === 'ars') {
                              @if (account.account_type === 'Savings') {
                                  <option value="{{account.id}}">CA {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                              }@else {
                                  <option value="{{account.id}}">CC {{account.id}}/{{account.user_id}} - ${{account.balance}} </option>
                              }
                          }
                      }
                  }
              </select>
        
              <button type="submit" [disabled]="formulario.invalid">Vender</button>
            </form>
          </div>
        </div>
    }

   
  </div>
  