app-dolar {
  position: absolute;
  top: 30%;
  right: 3%;
  transform: translateY(-50%);
  z-index: 10;
  max-width: 300px;
}

.page {
  display: flex;
  justify-content: center;
  /* flex-direction: row;
  gap: 80px; */
  align-items: center;
  height: calc(100vh - 79.75px);
}

.page-cards {
  display: flex;
  /* justify-content: center;
  flex-direction: row; */
  gap: 15px;
  /* align-items: center; */
}

.dashboard-card {
  height: 180px;
  width: 250px;
  border-radius: var(--border-radius);
  padding: 3rem;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  /* text-decoration: none; */
  border: solid 1px var(--gray-2);
  /* display: block; */
  /* overflow: hidden; */
  background-color: var(--white);
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
  background-color: var(--extra-light-color);
}

.dashboard-card p {
  text-align: center;
}

.card-title,
.card-icon {
  font-size: 1.5rem;
  /* text-align: center; */
  color: var(--gray-4);
}

/* {
  font-size: 1.5rem;
  color: var(--gray-4);
  margin-bottom: 0.75rem;
} */
.page-exchange {
  width: 100%;
  height: calc(100vh - 82px);
}

.page-exchange > button {
  margin: 20px;
}

.modal {
  width: 90%;
  max-width: 600px;
  padding: 2.5rem;
  background-color: var(--white);
  box-shadow: 0 4px 20px var(--box-shadow-color);
  border-radius: var(--border-radius);
  margin: 0 auto;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input,
.modal select {
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 15px;
}

.modal p {
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center;
}

.error {
  color: var(--cancel-button);
}

@media screen and (max-width: 780px) {
  /* .modal h2 {
    font-size: 1.5rem;
  } */

  .modal input,
  .modal select {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  /* .modal button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  } */
}

@media screen and (max-width: 550px) {
  .dashboard-card {
    padding: 1rem;
    width: 200px;
  }

  /* .dashboard-card .card-icon {
    font-size: 1.2rem;
  } */

  /* .modal h2 {
    font-size: 1.2rem;
  } */

  .modal input,
  .modal select {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  /* .modal button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  } */
}

@media screen and (max-width: 480px) {
  .dashboard-card {
    padding: 0.5rem;
    width: 180px;
  }
}
