body {
  background-color: var(--background-gray);
}

app-dolar {
  position: absolute;
  top: 30%;
  right: 3%;
  transform: translateY(-50%);
  z-index: 10;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  height: calc(100vh - 79.75px);
}

.page2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.page3 {
  width: 100%;
  height: calc(100vh - 82px);
}

.modal {
  width: 90%;
  max-width: 600px;
  padding: 2.5rem;
  background-color: var(--white);
  box-shadow: 0 4px 20px var(--box-shadow-color);
  border-radius: 12px;
  margin: 2rem auto;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modal input,
.modal select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal p {
  color: var(--primary-color);
  margin: 1rem 0;
  text-align: center;
}

.dashboard-card {
  flex: 1;
  height: 180px;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: solid 1px var(--gray-2);
  display: block;
  margin-right: 30px;
  overflow: hidden;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
  background-color: var(--extra-light-color);
}

.card-icon {
  font-size: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  color: var(--gray-4);
  margin-bottom: 0.75rem;
}

.closeButton {
  padding: 20px;
  position: absolute;
  top: 23%;
  left: 1%;
  transform: translateY(-50%);
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 95%;
    padding: 2rem;
  }

  .modal h2 {
    font-size: 1.5rem;
  }

  .modal input,
  .modal select {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .modal button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
