
.profile-container {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.profile-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--box-shadow-color);
  margin-bottom: 20px;
}

.profile-field {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid var(--gray-2);
  padding-bottom: 10px;
}

.field-label {
  font-weight: bold;
  color: var(--primary-color);
}

.field-value {
  color: var(--gray-3);
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.action-button {
  padding: 0.5rem 1rem;
  text-align: center;
}

.action-button.admin {
  background-color: var(--highlight-color);
}

.action-button.admin:hover {
  background-color: var(--highlight-hover);
}
.action-button.admin {
  background-color: #faa307;
}

.action-button.admin:hover {
  background-color: #f48c06;
}

.action-button.baja {
  background-color: var(--cancel-button);
}

.action-button.baja:hover {
  background-color: var(--cancel-button-hover);
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--box-shadow-color);
}

thead {
  background-color: var(--primary-color);
  color: var(--white);
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid var(--gray-2);
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background-color: var(--gray-1);
}

th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

td {
  color: var(--gray-3);
}

td:nth-child(4) {
  font-weight: bold;
  color: var(--highlight-color);
}

td:nth-child(5) {
  text-align: center;
  font-weight: bold;
}

.go-back {
  margin: 20px;
}

@media (max-width: 1024px) {
  .profile-container {
    padding: 0 20px;
  }

  .profile-field {
    flex-direction: column;
    align-items: flex-start;
  }

  .field-label {
    margin-bottom: 5px;
  }

  table {
    width: 95%;
  }

  th, td {
    font-size: 13px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .profile-card {
    padding: 15px;
  }

  table {
    width: 100%;
    margin: 10px auto;
  }

  th, td {
    font-size: 12px;
    padding: 10px;
  }

  /* .action-buttons {
    flex-direction: row;
    align-items: stretch;
  }
*/

  /* .botones-admin{
    justify-content: space-evenly;
  }  */
  /* .go-back {
    width: 100%;
    margin: 10px 0;
  } */
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .profile-container {
    padding: 0 10px;
  }

  .profile-card {
    padding: 10px;
  }

  .profile-field {
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    width: 100%;
    font-size: 11px;
  }

  th, td {
    padding: 8px;
  }

  /* .action-buttons {
    flex-direction: row;
    gap: 10px;
  } */
}

@media (max-width: 320px) {
  h2 {
    font-size: 18px;
  }

  .profile-card {
    padding: 8px;
    margin: 10px 0;
  }

  .profile-field {
    flex-direction: column;
    gap: 5px;
  }

  /* .action-buttons {
    flex-direction: row;
    gap: 5px;
  } */

  table {
    font-size: 10px;
  }

  th, td {
    padding: 5px;
  }

  .go-back {
    font-size: 12px;
    padding: 8px;
  }
}
