/* ! LISTO 
 Falta css form
*/.page {
  background: linear-gradient(#00355980, #0077b6b3),
    url("https://static.pexels.com/photos/50987/money-card-business-credit-card-50987-large.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 96px);
}

main {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  margin: auto;
  background: var(--white);
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  border-radius: var(--border-radius);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

span {
  font-size: 0.9rem;
  color: var(--cancel-button);
}

button {
  width: 100%;
}

@media (max-width: 1024px) {
  .page2 {
    height: calc(100vh - 74px);
  }

  main {
    padding: 1.5rem;
    width: 90%;
  }

  input {
    padding: 0.75rem;
  }

  span {
    font-size: 0.85rem;
  }
}

@media (max-width: 768px) {
  .page2 {
    height: calc(100vh - 64px);
  }

  main {
    padding: 1.2rem;
  }

  input {
    padding: 0.7rem;
  }

  span {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .page2 {
    height: calc(100vh - 60.67px);
  }

  main {
    padding: 1rem;
  }

  input {
    padding: 0.6rem;
  }

  span {
    font-size: 0.75rem;
  }
}
