<div class="page">

<app-navbar-home></app-navbar-home>

<main>
  <h1>Recuperar contraseña</h1>
  <form [formGroup]="formulario" (ngSubmit)="sendEmail()">
    <div class="input-container">
      <label for="email">Ingrese su email</label>
      <input type="email" formControlName="email" aria-label="Ingrese su correo electrónico">
      @if (formulario.controls['email'].touched && formulario.controls['email'].hasError('required')) {
        <span>El campo es requerido</span>
      }
      @if (formulario.controls['email'].touched && formulario.controls['email'].hasError('email')) {
        <span>Debe tener formato de email</span>
      }
    </div>
    <button type="submit" [disabled]="formulario.invalid">Enviar mail</button>
  </form>
</main>

</div>
