<div class="transaction-card">
  <p class="transaction-date">
    {{ transaction.transaction_date | date : "dd/MM/yyyy" }}
  </p>

  <p class="transaction-type">
    @if(transaction.transaction_type == 'transfer') {
      Transferencia
    } @else if(transaction.transaction_type == 'loan') {
      Préstamo
    } @else if(transaction.transaction_type == 'fixed term'){
      Plazo fijo
    } @else if (transaction.transaction_type == 'exchange') {
      Cambio
    }
  </p>

  <p [ngClass]="{
      'transaction-amount': true,
      'transaction-in': isIncoming(transaction.source_account_id),
      'transaction-out': !isIncoming(transaction.source_account_id)
    }">
    @if(isIncoming(transaction.source_account_id)) {
      +
    } @else {
      -
    } {{ transaction.amount | currency:'ARS':'symbol-narrow':'1.2-2' }}
  </p>

  @if (!flag && !isDownloading) {
    <button (click)="toggleFlag()">Ver comprobante</button>
  }

  @if(flag){
    <app-receipt [transaction]="transaction" (cancel)="onCancel()"></app-receipt>
  }
</div>
