<div class="transaction-card">
  <p class="transaction-date">
    {{ transaction.transaction_date | date : "dd/MM/yyyy" }}
  </p>

<p>
  Transaccion
</p>

  <p
    [ngClass]="{
      'transaction-amount': true,
      'transaction-in': isIncoming(),
      'transaction-out': !isIncoming()
    }"
  >
    {{ formattedAmount }}
  </p>

  @if (!flag) {
    <button (click)="toggleFlag()" >Ver comprobante</button>
  }


  <app-receipt *ngIf="flag" [transaction]="transaction" (cancel)="onCancel()"></app-receipt>
  
</div>
