<app-navbar-home></app-navbar-home>
<h2>Reestablecer contraseña</h2>
<form class="token-form" [formGroup]="formularioToken" (ngSubmit)="verifyToken()">
  <label for="token">Ingrese el token de 6 dígitos:</label>
  <div class="token-inputs">
    <input type="text" class="token-input" autofocus formControlName="token1" maxlength="1" (paste)="handlePaste($event)" (input)="moveFocus($event, 'token2')" id="token1">
    <input type="text" class="token-input" formControlName="token2" maxlength="1" (input)="moveFocus($event, 'token3')" id="token2">
    <input type="text" class="token-input" formControlName="token3" maxlength="1" (input)="moveFocus($event, 'token4')" id="token3">
    <input type="text" class="token-input" formControlName="token4" maxlength="1" (input)="moveFocus($event, 'token5')" id="token4">
    <input type="text" class="token-input" formControlName="token5" maxlength="1" (input)="moveFocus($event, 'token6')" id="token5">
    <input type="text" class="token-input" formControlName="token6" maxlength="1" id="token6">
  </div>
  <button type="submit" class="submit-button" [disabled]="formularioToken.invalid">Verificar</button>
</form>

@if (flag) {
  <form [formGroup]="formularioContra" (ngSubmit)="changePassword()">
    <div class="input-container" password-input-container>
      <label for="hashed_password">Nueva contraseña</label>
      <input
        [type]="showPassword1 ? 'text' : 'password'"
        id="hashed_password"
        formControlName="hashed_password"
        placeholder=" "
      />
      <span
        class="toggle-visibility"
        (click)="togglePasswordVisibility('password')"
      >
        <i *ngIf="showPassword1; else eyeClosed1" class="bi bi-eye"></i>
        <ng-template #eyeClosed1>
          <i class="bi bi-eye-slash"></i>
        </ng-template>
      </span>
      @if (formularioContra.controls['hashed_password'].touched && formularioContra.controls['hashed_password'].getError('required')) {
        <span>Campo requerido</span>
      }
      @if (formularioContra.controls['hashed_password'].touched && formularioContra.controls['hashed_password'].getError('minlength')) {
        <span>Mínimo 6 caracteres</span>
      }
      @if (formularioContra.controls['hashed_password'].touched && formularioContra.controls['hashed_password'].getError('passwordStrength')) {
        <span>La contraseña debe contener al menos una mayúscula, una minúscula y un número</span>
      }
    </div>

    <div class="input-container">
      <label for="confirm_password">Repetir contraseña</label>
      <input
        [type]="showPassword2 ? 'text' : 'password'"
        id="confirm_password"
        formControlName="confirm_password"
        placeholder=" "
      />
      <span
        class="toggle-visibility"
        (click)="togglePasswordVisibility('confirm')"
      >
        <i *ngIf="showPassword2; else eyeClosed2" class="bi bi-eye"></i>
        <ng-template #eyeClosed2>
          <i class="bi bi-eye-slash"></i>
        </ng-template>
      </span>
      @if (formularioContra.controls['confirm_password'].touched && formularioContra.controls['confirm_password'].getError('required')) {
        <span>Campo requerido</span>
      }
      @if (formularioContra.controls['confirm_password'].touched && formularioContra.getError('matchPasswords')) {
        <span>Las contraseñas no coinciden</span>
      }
    </div>

    <button type="submit" [disabled]="formularioContra.invalid">Cambiar contraseña</button>
  </form>
}
