.page {
  background: linear-gradient(#00355980, #0077b6b3),
    url("https://static.pexels.com/photos/50987/money-card-business-credit-card-50987-large.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.page2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 96px);
}

.required {
  color: var(--cancel-button);
}

form {
  background-color: var(--white);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px var(--box-shadow-color);
    width: 90%;
  max-width: 600px;
}

.input-container {
  margin-bottom: 1.5rem;
  position: relative;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 0.8rem;
  padding-right: 40px; 
  outline: none;
  transition: border-color 0.3s;
}

.toggle-visibility {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: var(--gray-4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.toggle-visibility:hover {
  color: var(--primary-color);
}

.error-message {
  color: var(--cancel-button);
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: block;
}

.token-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.token-input {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid var(--gray-2);
  border-radius: var(--border-radius);
  margin: 0 5px;
  outline: none;
  transition: border-color 0.3s;
  line-height: 60px;
  padding: 0;
}

.token-input:focus {
  border-color: var(--accent-color);
}

button[type="submit"] {
  width: 100%;
}

.error-input {
  border: 1px solid var(--cancel-button);
  box-shadow: 0 0 5px var(--cancel-button-hover);
}