* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

form {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  font-family: var(--font-menu-form);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px; 
}


.token-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.token-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-form label {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.token-input {
  width: 60px; 
  height: 60px; 
  font-size: 1.5rem; 
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 0 5px;
  outline: none;
  transition: border-color 0.3s;
  line-height: 60px; 
  padding: 0;
}

.token-input:focus {
  border-color: #007BFF;
}


.submit-button {
  padding: 12px 20px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button.enabled {
  background-color: #007BFF;
  cursor: pointer;
}

.submit-button.enabled:hover {
  background-color: #0056b3;
}

.input-container {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.9rem;
  color: var(--gray-4);
}

input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid var(--gray-2);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  padding-right: 30px;
}

input:focus {
  border-color: var(--primary-color);
}

.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-input-container input {
  width: 100%;
  padding-right: 2.5rem; /* Espacio para el icono */
  box-sizing: border-box;
}

.password-input-container .toggle-visibility {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #000;
}


span {
  color: var(--cancel-button);
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: block;
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-family: var(--font-buttons);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
}
    