.navbar {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--white);
  justify-content: space-between;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 100;
  flex-wrap: wrap;
}

img {
  width: 90px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* .nav-links.responsive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  background-color: var(--primary-color);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
} */

.nav-links li {
  position: relative;
  padding: 10px;

}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}


.profile-dropdown .profile-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--primary-color);
  padding: 10px 0;
  min-width: 180px;
  border-radius: var(--border-radius);
  list-style: none;
  z-index: 101;
}

.profile-dropdown.show-menu .profile-menu {
  display: block;
}

/* .nav-links.responsive .profile-menu {
  right: auto;
  left: 100%;
  top: 0;
} */

.profile-menu li {
  width: 100%;
}

.profile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.profile-menu a:hover {
  background-color: var(--button-hover);
}


.hamburger {
  display: none;

  /* background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer; */
}

.hamburger.is-open span {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
}

.toggle-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-icon {
  font-size: 2rem;
  cursor: pointer;
}

.toggle-container span {
  font-size: 1rem;
}


.logout-container i {
  font-size: 2rem;
  cursor: pointer;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1200px) {
  /* .navbar {
    justify-content: space-between;
    flex-wrap: nowrap;
  } */

  /* img {
    width: 80px;
    max-width: 100%;
  } */

  .nav-links {
    /* display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0; */
    gap: 15px;

  }

  .nav-links li {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
  /* .nav-links.responsive {
    flex-direction: row;
    position: static;
    width: auto;
    background-color: (--primary-color);
  } */

  .hamburger {
    display: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
  }
}


@media (max-width: 1024px) {
  .hamburger {
    /* display: block;
    background-color: var(--primary-color);
    box-shadow: none; */
    display: block;
    font-size: 2rem;
    background: none;
    color: var(--white);
    cursor: pointer;
    box-shadow: none;
  }

  .nav-links {
    /* display: none; */
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    position: absolute;
    top: 83px;
    width: 200px;
    height: calc(100vh - 83px);
    left: 0;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .nav-links.responsive {
    display: flex;
    /* flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 200px; */
  }

  /* .nav-links li { */
    /* width: 100%;
  } */

  .profile-dropdown .profile-menu {
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: var(--primary-color);
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    z-index: 101;
  }

  /* .profile-menu a {
    text-indent: 30px;
  } */

  .buttons {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;

  }

  .buttons li {
    width: auto;
  }
}
