<nav class="navbar">
  <a class="logo" routerLink="/admin-main">
    <img src="/logo-navbar.png" alt="Logo del Banco" class="logo-image" />
  </a>
  <ul class="nav-links">

    <li>
      <a [routerLink]="['/list-admins']">Ver administradores</a>
    </li>

    <li>
      <a [routerLink]="['/list-users']">Ver clientes</a>
    </li>

    <li>
      <a [routerLink]="['/tarifas']">Tarifas</a>
    </li>

    <li>
      <a [routerLink]="['/new-admin']">Nuevo usuario</a>
    </li>

    <li class="profile-dropdown" [ngClass]="{'show-menu': activeMenu === 'profile'}">
      <a class="profile-link dropdown-link" (click)="toggleMenu('profile')">Perfil</a>
      <ul class="profile-menu">
        <li><a [routerLink]="['/admin-profile']">Ver perfil</a></li>
        <li><a [routerLink]="['/update-password-admin']">Modificar contraseña</a></li>
      </ul>
    </li>


    <button (click)="changeType()">Cambiar tipo</button>
    <button (click)="logout()">Cerrar sesión</button>
  </ul>
</nav>
