<nav class="navbar">
  <a routerLink="/admin-main">
    <img src="/logo-navbar.png" alt="Logo del Banco" />
  </a>
  <!-- Botón de menú hamburguesa -->
  <button class="hamburger" (click)="toggleMenu()" [ngClass]="{'is-open': isResponsiveMenuVisible}">
    @if(!isResponsiveMenuVisible){
      <span>☰</span>
    }@else {
      <span>✖</span>
    }
  </button>
  <ul class="nav-links" [ngClass]="{'responsive': isResponsiveMenuVisible}">

    <li>
      <a [routerLink]="['/list-admins']">Administradores</a>
    </li>
    <li>
      <a [routerLink]="['/list-users']">Clientes</a>
    </li>
    <li>
      <a [routerLink]="['/list-rates']">Tarifas</a>
    </li>
    <li>
      <a [routerLink]="['/new-admin']">Nuevo usuario</a>
    </li>

    <li>
      <a [routerLink]="['/admin-support']">Soporte</a>
    </li>
    <!-- Menú desplegable de perfil -->
    <li
    class="profile-dropdown"
    [ngClass]="{'show-menu': activeMenu === 'profile'}"
    (mouseenter)="toggleMenu('profile')"
    (mouseleave)="toggleMenu('profile')">
    <a class="profile-link dropdown-link">Perfil</a>
    <ul class="profile-menu">
      <li><a [routerLink]="['/admin-profile']">Ver perfil</a></li>
      <li><a [routerLink]="['/update-password-admin']">Modificar contraseña</a></li>
    </ul>

    </li>


  <li>
    <div class="toggle-container">
      <i (click)="changeType()" [ngClass]="'bi bi-toggle-off'" class="toggle-icon"></i>
    </div>
  </li>


  <li>
    <div class="logout-container">
      <i (click)="logout()" class="bi bi-box-arrow-right"></i>
    </div>
  </li>

  <!-- <div class="buttons"> -->

  <!-- </div> -->
  </ul>
</nav>
