/* ! LISTO */

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header.scrolled {
  background-color: var(--primary-color);
  box-shadow: 0 4px 12px var(--box-shadow-color);
}

img {
  height: 60px;
  padding: 0 15px;
}

p {
  color: var(--white);
}

.sectionA{
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white);
  background: linear-gradient(rgb(0, 53, 89, 0.5), rgb(0, 119, 182, 0.7)),
  url("https://static.pexels.com/photos/50987/money-card-business-credit-card-50987-large.jpeg");
  background-size: cover;
  font-family: system-ui;
  text-transform: uppercase;
}

.intro-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 74px);
}

.intro-message > h1 {
  font-size: 3em;
  font-weight: 200;
}

.sectionB {
  padding: 80px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 80px;
}

.lead {
  font-size: 20px;
  color: var(--gray-4);
  margin-top: 30px;
  text-align: justify;
}

.section-heading {
  text-align: left;
  margin-bottom: 10px;
  color: var(--gray-4);
}

.section-heading-spacer {
  float: left;
  width: 100px;
  border-top: 3px solid var(--secondary-color);
}

/* Responsividad */
@media (max-width: 1024px) {
  header {
    padding: 10px;
  }

  img {
    height: 50px;
  }

  .intro-message > h1 {
    font-size: 2.5em;
  }

  .sectionB {
    flex-direction: column;
    padding: 60px 60px;
    row-gap: 40px;
  }

  app-card {
    align-self: center;
  }

  .lead {
    font-size: 18px;
  }
}

@media (max-width: 768px) {

  img {
    height: 40px;
  }

  .intro-message > h1 {
    font-size: 2em;
  }
  
  .sectionB {
    padding: 40px 40px;
  }

  app-card {
    display: none; 
  }
  
  .lead {
    font-size: 16px;
  }
}

@media (max-width: 550px) {

  img {
    height: 30px;
  }
  
  .intro-message > h1 {
    font-size: 1.5em;
  }
  
  .sectionB {
    padding: 20px 20px;
  }

  .lead {
    font-size: 14px;
  }
}
