
<header>
  <a class="navbar-brand" href="">
    <img id="logo" src="/logo-navbar-png.png" alt="" />
  </a>
  <button routerLink="/auth" id="button">Banca Online</button>

</header>

<main>
  <section class="sectionA">
    <div class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Innovación y seguridad en cada operación</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="sectionB">
    <div class="container">
      <h2 class="section-heading">Bienvenido a Afram, tu socio financiero</h2>
      <hr class="section-heading-spacer" />
      <p class="lead">
        En Afram, creemos en un banco que va más allá de las finanzas: queremos
        construir relaciones duraderas y acompañarte en cada paso. Sabemos que
        tus metas son únicas, y por eso diseñamos servicios personalizados para
        ayudarte a cumplirlas con seguridad y facilidad. Desde el ahorro hasta
        la inversión, estamos aquí para brindarte herramientas modernas y un
        equipo humano comprometido con tus logros. Afram no es solo un banco, es
        un aliado en cada etapa de tu vida.
      </p>
    </div>
    <app-card></app-card>
  </section>
</main>


<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <h1>AFRAM Group</h1>
    </div>
    <div class="footer-links">
      <a routerLink="/legal">Aviso legal</a>
      <a href="#">Aviso sobre navegadores</a>
      <a href="#">Mapa</a>
      <a href="#">Recomendaciones de seguridad</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 AFRAM Group Argentina S.A.</p>
    <div class="footer-social">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter-x"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</footer>
