h2 {
  margin: 20px 0;
}

p {
 font-size: 1.2rem;
 text-align: center;
 margin-top: 30px;
 padding: 15px;
 background-color: var(--extra-light-color);
 border-radius: var(--border-radius);
 box-shadow: 0px 4px 6px var(--box-shadow-color);
 width: 60%;
 margin-left: auto;
 margin-right: auto;
}

.tableDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  width: 90%;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 6px var(--box-shadow-color);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--gray-2);
}

th {
  background-color: var(--primary-color);
  color: var(--white);
  font-family: var(--font-menu-form);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--background-gray);
}

tr:hover {
  background-color: var(--gray-2);
  cursor: pointer;
}

.thExpired{
  background-color: #003559cc;
}

@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  th, td {
    padding: 10px;
  }

  div > p {
    width: 80%;
  }
}
