*{
    padding: 0%;
    margin: 0%;
  }
  
  .transaction-card {
    background-color: #f4f4f9;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 800px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  
  
  .transaction-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .transaction-date {
    font-size: 14px;
    color: #6b7280;
  }
  
  .transaction-amount {
    font-size: 20px;
    font-weight: bold;
    color: #111827;
  }
  
  .transaction-in {
    color: #10b981; 
  }
  
  .transaction-out {
    color: #ef4444; 
  }
  
  button {
    background-color: var(--accent-color);
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: var(--button-hover);
  }
  
  /* button.show {
    background-color: var(--button-hover); 
  } */
  
  