<!-- ! LISTO  -->
<div id="page">
  <div class="container">
    <div class="left-panel">
      <button [class.active]="isLoginActive" (click)="toggleForm('login')">Log In</button>
      <button [class.active]="!isLoginActive" (click)="toggleForm('signup')">Sign Up</button>
    </div>
    <div class="form-container">
      <div class="logo">
        <a href="" routerLink=""><img src="/logo-fff.png" alt="AFRAM Group Logo"></a>
      </div>
      @if(isLoginActive){
        <app-login></app-login>
      }@else {
        <app-signup></app-signup>
      }
    </div>
  </div>
</div>