#page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.container {
  display: flex;
  width: 80%;
  height: 95%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
}

.left-panel {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.left-panel.signup {
  background-image: url(/logo-signup.png); 
}

.left-panel.login {
  background-image: url(/fondo-auth.jpeg); 
}

.container.container-signup {
  flex-direction: row-reverse;
}

.container.container-login {
  flex-direction: row;
}

img {
  width: 150px;
}

.right-panel {
  width: 50%;
  display: grid;
  grid-template-rows: 80px 430px 80px;
  justify-items: center;
  align-self: center;
}

.form-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.toggle, .toggle-2 {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 12px 30px;
  border: none;
  background-color: #00bcd4;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  z-index: 1;
  outline: none;
}

.toggle:hover, .toggle-2:hover {
  background-color: #2196f3;
  color: #fff;
}

.toggle:focus, .toggle-2:focus {
  outline: none;
}

/* Media Queries */

/* Pantallas de hasta 1024px */
@media (max-width: 1024px) {
  .container {
    /* flex-direction: column; */
    height: 90%;
    width: 70%;
  }

  .left-panel {
    display: none
  }
  .right-panel {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
  }

  .form-container {
    padding: 10px;
  }

  .toggle, .toggle-2 {
    font-size: 0.875rem;
  }
}


/* Pantallas de hasta 768px */
@media (max-width: 768px) {
  /* .container {
    flex-direction: column;
    height: auto;
    width: 90%;
  } */

  /* .left-panel {
    display: none;
  } */

  /* .right-panel {
    width: 100%;
    height: 60%;
    padding: 15px; 
  } */

  /* .toggle, .toggle-2 {
    font-size: 14px;
  } */
}

/* Pantallas de hasta 550px */
@media (max-width: 550px) {
  /* .container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    height: 70%;
    padding: 10px; 
  } */

  .toggle, .toggle-2 {
    font-size: 0.75rem;
  }

  img {
    width: 100px;
  }
}