/* Estilo general */
#page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color); 
}

.container {
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
}

/* Panel izquierdo */
.left-panel {
  width: 50%;
  background-image: url(/fondo-auth.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  padding: 30px;
}

.logo img {
  padding: 0;
  width: 150px;  
  height: auto;
  margin-left: 15%; 
  position: fixed;
}


h2{
  margin-top: 30px;
}

/* Panel derecho (formulario) */
.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}


.form-header {
  display: flex;
  justify-content: end;
  align-items: end;
}

.toggle {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 12px 30px;
  border: none;
  background-color: #00bcd4; 
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
  z-index: 1;
  outline: none;
}

/* Cambiar color a azul cuando el botón esté activo */
.toggle:hover {
  background-color: #2196f3; /* Azul */
  color: #fff; 
}

.toggle:focus {
  outline: none; 
}




@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 95%;
  }

  .left-panel {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .form-container {
    width: 100%;
    padding: 20px;
  }
}
