@if(phone !== ''){
  @if (type === 'user') {
    <button class="volver-button" [routerLink]="['/profile']"><i class="bi bi-caret-left"></i>Volver</button>
  }@else {
    <button class="volver-button" [routerLink]="['/admin-profile']"><i class="bi bi-caret-left"></i>Volver</button>
  }
}
<div class="page">
<div class="account-page">
  <h2>Actualizar información personal</h2>

  <div class="update-info">
    <form [formGroup]="formulario">
      <div>
        <label for="email">Email <span class="required">*</span></label>
        <input type="email" id="email" formControlName="email" />
        @if (formulario.controls['email'].getError('required') &&
        formulario.controls['email'].touched) {
        <span> Campo requerido </span>
        }
      </div>

      <div>
        <label for="phone">Teléfono <span class="required">*</span></label>
        <input type="number" id="phone" formControlName="phone" />
        @if (formulario.controls['phone'].getError('required') &&
          formulario.controls['phone'].touched) {
          <span> Campo requerido. </span>
        }
        @if (formulario.controls['phone'].getError('pattern') &&
          formulario.controls['phone'].touched) {
          <span> El número de teléfono debe tener entre 8 y 15 dígitos. </span>
        }
      </div>

      <div>
        <label for="country">País <span class="required">*</span></label>
        <input type="text" id="country" formControlName="country" (keydown)="preventNumbers($event)"/>
        @if (formulario.controls['country'].getError('required') &&
        formulario.controls['country'].touched) {
        <span> Campo requerido </span>
        }
      </div>

      <div>
        <label for="city">Localidad <span class="required">*</span></label>
        <input type="text" id="city" formControlName="city" />
        @if (formulario.controls['city'].getError('required') &&
        formulario.controls['city'].touched) {
        <span> Campo requerido </span>
        }
      </div>

      <div>
        <label for="postal_code">Código postal <span class="required">*</span></label>
        <input type="number" id="postal_code" formControlName="postal_code" />
        @if (formulario.controls['postal_code'].getError('required') &&
        formulario.controls['postal_code'].touched) {
        <span> Campo requerido </span>
        }
      </div>

      <div>
        <label for="street">Calle <span class="required">*</span></label>
        <input type="text" id="street" formControlName="street" />
        @if (formulario.controls['street'].getError('required') &&
        formulario.controls['street'].touched) {
        <span> Campo requerido </span>
        }
      </div>

      <div>
        <label for="address_number">Número <span class="required">*</span></label>
        <input
          type="number"
          id="address_number"
          formControlName="address_number"
        />
        @if (formulario.controls['address_number'].getError('required') &&
        formulario.controls['address_number'].touched) {
        <span> Campo requerido </span>
        }
      </div>

      <div>
        <label for="floor">Piso</label>
        <input type="string" id="floor" formControlName="floor" placeholder="Opcional" />
      </div>

      <div>
        <label for="apartment">Departamento</label>
        <input type="text" id="apartment" formControlName="apartment" placeholder="Opcional" />
      </div>

      <button (click)="updateProfile()" [disabled]="formulario.invalid">Actualizar</button>
    </form>
  </div>
</div>
</div>
