.page {
  background-color: var(--background-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.account-page {
  max-width: 800px;
  width: 90%;
  padding: 40px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px var(--box-shadow-color);
}

form {
  display: grid;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

form span {
  color: var(--cancel-button);
  font-size: 14px;
  margin-top: 5px;
}

.required {
  color: var(--cancel-button);
}

@media (max-width: 600px) {
  .account-page {
    padding: 15px;
  }

  form input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    padding: 8px 16px;
  }
}
