
<app-navbar></app-navbar>
<div class="account-page">
    <h1>Perfil</h1>

    <div class="update-info">
      <h2>Actualizar información personal</h2>
      <form [formGroup]="formulario" >
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" >
          @if (formulario.controls['email'].get('required') && formulario.controls['email'].touched) {
            <span> Campo requerido. </span>
          }
        </div>

        <div>
          <label for="phone">Telefono</label>
          <input type="text" id="phone" formControlName="phone">
          @if (formulario.controls['phone'].get('required') && formulario.controls['phone'].touched) {
            <span> Campo requerido. </span>
          }
        </div>
        
        <div>
          <label for="country">Pais</label>
          <input type="text" id="country" formControlName="country">
          @if (formulario.controls['country'].get('required') && formulario.controls['country'].touched) {
            <span> Campo requerido. </span>
          }
        </div>
        
        <div>
          <label for="city">Ciudad</label>
          <input type="text" id="city" formControlName="city">
          @if (formulario.controls['city'].get('required') && formulario.controls['city'].touched) {
            <span> Campo requerido. </span>
          }
        </div>

        <div>
          <label for="postal_code">Codigo postal</label>
          <input type="string" id="postal_code" formControlName="postal_code">
          @if (formulario.controls['postal_code'].get('required') && formulario.controls['postal_code'].touched) {
            <span> Campo requerido. </span>
          }
        </div>

        <div>
          <label for="street">Calle</label>
          <input type="text" id="street" formControlName="street">
          @if (formulario.controls['street'].get('required') && formulario.controls['street'].touched) {
            <span> Campo requerido. </span>
          }
        </div>
  
        <div>
          <label for="address_number">Numero</label>
          <input type="number" id="address_number" formControlName="address_number">
          @if (formulario.controls['address_number'].get('required') && formulario.controls['address_number'].touched) {
            <span> Campo requerido. </span>
          }
        </div>
  
        <div>
          <label for="floor">Piso</label>
          <input type="string" id="floor" formControlName="floor" >
        </div>
  
        <div>
          <label for="apartment">Departamento</label>
          <input type="text" id="apartment" formControlName="apartment">
        </div>

        <button (click)="updateProfile()" >Actualizar</button>
      </form>
    </div>
  
    <div class="input-container">
      <input type="password" id="hashed_password" formControlName="hashed_password" placeholder=" "/>
      <label for="hashed_password">Contraseña</label>
      @if (formularioContra.controls['hashed_password'].touched && formularioContra.controls['hashed_password'].getError('required')) {
        <span>
          Campo requerido
        </span>
      }
      @if (formularioContra.controls['hashed_password'].touched && formularioContra.controls['hashed_password'].getError('minlength')) {
        <span>
          Minimo 6 caracteres
        </span>
      }
      @if (formularioContra.controls['hashed_password'].touched && formularioContra.controls['hashed_password'].getError('passwordStrength')) {
        <span>
          La contraseña debe contener al menos una mayuscula y un numero
        </span>
      }
    
    </div>
    
    <div class="input-container">
      <input type="password" id="confirm_password" formControlName="confirm_password" placeholder=" "/>
      <label for="confirm_password">Repetir contraseña</label>
      
      @if (formularioContra.controls['confirm_password'].touched && formularioContra.controls['confirm_password'].getError('required')) {
        <span>
          Campo requerido
        </span>
      }
      @if (formularioContra.controls['confirm_password'].touched && formularioContra.hasError('matchPasswords')) {
        <span>
          Las contraseñas no coinciden
        </span>
      }
      
    </div>

        <button (click)="updatePassword()"> Actualizar </button>
    </div>