body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .profile-container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  h2 {
    color: #2c3e50;
    margin-bottom: 20px;
  }

  .profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .profile-field {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }

  .field-label {
    font-weight: bold;
    color: #2c3e50;
  }

  .field-value {
    color: #555;
  }

  .action-button {
    padding: 10px 20px;
  }

  .botones-admin{
    display: flex;
    justify-content: space-around;
  }

  .action-button.baja {
    background-color: var(--cancel-button);
  }

  .action-button.baja:hover {
    background-color: var(--cancel-button-hover);
  }

  .go-back {
    padding: 10px 15px;
    margin: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
