/* ! LISTO */
.profile-container {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.profile-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px var(--box-shadow-color);
}

.profile-field {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid var(--gray-2);
  padding-bottom: 10px;
}

.field-label {
  font-weight: bold;
  color: var(--primary-color);
}

.field-value {
  color: var(--gray-3);
}

.botones-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.action-button.baja {
  background-color: var(--cancel-button);
}

.action-button.baja:hover {
  background-color: var(--cancel-button-hover);
}

.go-back {
  margin: 20px;
}

@media (max-width: 768px) {
  .profile-container {
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .profile-card {
    padding: 15px;
  }

  .profile-field {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
  }

  .field-label {
    font-size: 1rem;
  }

  .field-value {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.3rem;
  }

  .profile-card {
    padding: 10px;
  }

  .profile-field {
    margin: 8px 0;
  }
}
