<!--  !LISTO -->
<footer>
  <div class="footer-content">
    <a routerLink="/home"><img src="/logo-navbar.png" alt="Ir a la página principal de AFRAM Group"></a>
    <a routerLink="/legal" class="footer-links">Aviso legal</a>
  </div>
  <div class="footer-bottom">
    <p>© 2024 AFRAM Group Argentina S.A.</p>
    <div class="footer-social">
      <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
      <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</footer>