<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <div href=""></div>
        <a routerLink="/home"><img src="/logo-navbar.png" alt="logo-footer" class="img-footer"></a>
      </div>
      <div class="footer-links">
        <a routerLink="/legal">Aviso legal</a>
        <!-- <a href="#">Aviso sobre navegadores</a>
        <a href="#">Mapa</a>
        <a href="#">Recomendaciones de seguridad</a> -->
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 AFRAM Group Argentina S.A.</p>
      <div class="footer-social">
        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        <!-- <a href="#"><i class="bi bi-twitter-x"></i></a> -->
        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </footer>